<div class="input-wrap <?php if ($required) { ?>required<?php } ?>">
    <?php if ($type == 'select') { ?>
      <select  name="<?php echo $name ?>" id="<?php echo $id ?>" <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>>
        <?php foreach ($values as $info) { ?>
          <option value="<?php echo $info['id'] ?>" <?php echo $value == $info['id'] ? 'selected="selected"' : '' ?>><?php echo $info['text'] ?></option>
        <?php } ?>
      </select>

    <?php } elseif ($type == 'radio') { ?>
      <div>
      <?php foreach ($values as $info) { ?>
        <div class="radio-wrap">
          <input type="radio" name="<?php echo $name ?>" id="<?php echo $id ?>" value="<?php echo $info['id'] ?>" <?php echo $value == $info['id'] ? 'checked="checked"' : '' ?> <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>>
          <label for="<?php echo $id ?> "><?php echo $info['text'] ?></label>
        </div>
      <?php } ?>
      </div>
    <?php } elseif ($type == 'checkbox') { ?>
      <div>
      <?php foreach ($values as $info) { ?>
        <div class="check-wrap">
          <input type="hidden" name="<?php echo $name ?>[<?php echo $info['id'] ?>]" value="0">
          <input type="checkbox" name="<?php echo $name ?>[<?php echo $info['id'] ?>]" id="<?php echo $id ?>" value="1" <?php echo !empty($value[$info['id']]) ? 'checked="checked"' : '' ?> <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>>
          <label for="<?php echo $id ?>"><?php echo $info['text'] ?></label>
        </div>
      <?php } ?>
      </div>
    <?php } elseif ($type == 'textarea') { ?>
      <textarea  name="<?php echo $name ?>" id="<?php echo $id ?>" placeholder="<?php echo $placeholder ?>" <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>><?php echo $value ?></textarea>
    <?php } elseif ($type == 'captcha') { ?>
      <?php if ($site_key) { ?>
        <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
        <div class="g-recaptcha" data-sitekey="<?php echo $site_key; ?>"></div>
      <?php } else { ?>
        <input type="text" name="<?php echo $name ?>" id="<?php echo $id ?>" value="" placeholder="<?php echo $placeholder ?>" <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>>
        <div class="simple-captcha-container"><img src="index.php?<?php echo $additional_path ?>route=common/simple_connector/captcha&t=<?php echo time() ?>" alt="" id="captcha" /></div>
      <?php } ?>
    <?php } elseif ($type == 'file') { ?>
      <input type="button" value="<?php echo $button_upload; ?>" data-file="<?php echo $id ?>" class="button form-control">
      <div id="text_<?php echo $id ?>" style="margin-top:3px;max-width:200px;"><?php echo $filename ?></div>
      <input type="hidden" name="<?php echo $name ?>" id="<?php echo $id ?>" value="<?php echo $value ?>">
    <?php } elseif ($type == 'date') { ?>
      <div class="input-group date">
        <input  type="text" name="<?php echo $name ?>" id="<?php echo $id ?>" value="<?php echo $value ?>" placeholder="<?php echo $placeholder ?>" <?php echo $attrs ?> <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
        </span>
      </div>
    <?php } elseif ($type == 'time') { ?>
    <div class="input-group time">
      <input  type="text" name="<?php echo $name ?>" id="<?php echo $id ?>" value="<?php echo $value ?>" placeholder="<?php echo $placeholder ?>" <?php echo $attrs ?> <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
      </span>
    </div>
    <?php } else { ?>
      <?php switch ($id) {
        case 'customer_email':
            $ico = '<i class="icon-mail"></i>';
            break;
        case 'edit_email':
            $ico = '<i class="icon-mail"></i>';
            break;
        case 'edit_firstname':
            $ico = '<i class="icon-log-in"></i>';
            break;
        case 'edit_lastname':
            $ico = '<i class="icon-log-in"></i>';
            break;
        case 'customer_firstname':
            $ico = '<i class="icon-log-in"></i>';
            break;
        case 'customer_lastname':
            $ico = '<i class="icon-log-in"></i>';
            break;
        case 'payment_address_firstname':
            $ico = '<i class="icon-log-in"></i>';
            break;
        case 'payment_address_lastname':
            $ico = '<i class="icon-log-in"></i>';
            break;
        case 'edit_telephone':
            $ico = '<i class="icon-call-back"></i>';
            break;
        case 'customer_telephone':
            $ico = '<i class="icon-call-back"></i>';
            break;
        case 'payment_address_city':
            $ico = '<i class="icon-point"></i>';
            break;
        case 'payment_address_postcode':
            $ico = '<i class="icon-point"></i>';
            break;
        case 'payment_address_address_1':
            $ico = '<i class="icon-point"></i>';
            break;
        case 'shipping_address_postcode':
            $ico = '<i class="icon-point"></i>';
            break;
        case 'shipping_address_city':
            $ico = '<i class="icon-point"></i>';
            break;
        case 'shipping_address_address_1':
            $ico = '<i class="icon-point"></i>';
            break;
        case 'shipping_address_address_2':
            $ico = '<i class="icon-point"></i>';
            break;
        case 'customer_patronymic':
            $ico = '<i class="icon-log-in"></i>';
            break;
        default:
            $ico = null;
            break;
    }?>
      <input <?php if ($value) {echo 'class="filled"';}?> type="<?php echo $type ?>" name="<?php echo $name ?>" id="<?php echo $id ?>" value="<?php echo $value ?>" <?php echo $attrs ?> <?php echo $reload ? 'data-onchange="reloadAll"' : 'data-reload-payment-form="true"'?>>
      <label for="<?php echo $id ?>"><?= $ico; ?><span><?php echo $label ?></span></label>
        <?php if (!empty($rules)) { wss_log($rules)?>
            <?php foreach ($rules as $rule) { ?>
                <?php if($rule['display'] && !$rule['passed']){ ?>
                    <label for="<?php echo $id ?>" class="error"><?= $ico; ?><span><?php echo $rule['text'] ?></span></label>
                <?php } ?>
            <?php } ?>
        <?php } ?>
    <?php } ?>
    <?php /*if (!empty($rules)) { ?>
      <!-- <div class="simplecheckout-rule-group" data-for="<?php echo $id ?>">
        <?php foreach ($rules as $rule) { ?>
          <div <?php echo $rule['display'] && !$rule['passed'] ? '' : 'style="display:none;"' ?> data-for="<?php echo $id ?>" data-rule="<?php echo $rule['id'] ?>" class="simplecheckout-error-text simplecheckout-rule" <?php echo $rule['attrs'] ?>><?php echo $rule['text'] ?></div>
        <?php } ?>
      </div> -->
    <?php }*/ ?>
    <?php if ($description) { ?>
      <div class="simplecheckout-tooltip" data-for="<?php echo $id ?>"><?php echo $description ?></div>
    <?php } ?>
 </div>