<?php if (isset($sucsess) and $sucsess) { ?>
  <h3><?php echo $sucsess['text']; ?></h3>
<?php foreach ($p2s_oreders_data as $order) { ?>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr >
    <td>Параметр</td>
    <td>значение</td>
  </tr>
  </thead>

  <?php foreach ($order as $title=>$value) {
    if (empty($value)) continue;
    ?>
    <tr>
      <td><?php echo $title; ?></td>
      <td><?php echo $value; ?></td>
    </tr>
  <?php } ?>
</table>
<?php } ?>
<?php } else { ?>
    <h3 class="error"><?php echo $error['text']; ?></h3>
<?php } ?>
