@font-face {
	font-family: 'Helvetica';
	src:  url('fonts/HelveticaNeueCyr-Bold.otf') format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'Helvetica';
	src:  url('fonts/HelveticaNeueCyr-Light.otf') format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: 'Helvetica';
	src:  url('fonts/HelveticaNeueCyr-Roman.otf') format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Helvetica';
	src:  url('fonts/HelveticaNeueCyr-Medium.otf') format('opentype');
	font-weight: 500;
}