@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4ljdie');
  src:  url('fonts/icomoon.eot?4ljdie#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?4ljdie') format('truetype'),
  url('fonts/icomoon.woff?4ljdie') format('woff'),
  url('fonts/icomoon.svg?4ljdie#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-percent:before {
  content: "\e916";
}
.icon-phone-kontaktu:before {
  content: "\e917";
}
.icon-point:before {
  content: "\e918";
}
.icon-puy-1:before {
  content: "\e919";
}
.icon-puy-2:before {
  content: "\e91a";
}
.icon-refresh:before {
  content: "\e91b";
}
.icon-star-empty:before {
  content: "\e91c";
}
.icon-star-full:before {
  content: "\e91d";
}
.icon-telegram2:before {
  content: "\e91e";
}
.icon-viber2:before {
  content: "\e91f";
}
.icon-video:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e921";
}
.icon-delivery-1:before {
  content: "\e922";
}
.icon-delivery-2:before {
  content: "\e923";
}
.icon-delivery-3:before {
  content: "\e924";
}
.icon-gift:before {
  content: "\e925";
}
.icon-info-delivery:before {
  content: "\e926";
}
.icon-mail-kontaktu:before {
  content: "\e927";
}
.icon-x:before {
  content: "\e928";
}
.icon-x1:before {
  content: "\e929";
}
.icon-x2:before {
  content: "\e92a";
}
.icon-addres-kontaktu:before {
  content: "\e92b";
}
.icon-arrow-select:before {
  content: "\e92c";
}
.icon-face2:before {
  content: "\e913";
}
.icon-google:before {
  content: "\e914";
}
.icon-pass:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-call-back:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
.icon-face:before {
  content: "\e905";
}
.icon-insta:before {
  content: "\e906";
}
.icon-libra:before {
  content: "\e907";
}
.icon-log-in:before {
  content: "\e908";
}
.icon-logo:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-man:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-twit:before {
  content: "\e90e";
}
.icon-vk:before {
  content: "\e90f";
}
.icon-wishlist:before {
  content: "\e910";
}
.icon-women:before {
  content: "\e911";
}
.icon-wss:before {
  content: "\e912";
}
