@media screen and (max-width: 1600px) {

	.delivery__note-icon {
		margin-right: 30px;
	}

	.delivery__note-desc {
		width: calc(100% - 105px);
	}

	.product__info {
		width: 50%;
	}

	.product__buttons .btn.btn-default {
		margin-right: 15px;
	}

	.product__info__wrap {
		padding-right: 30px;
	}

	.news-archive__item:not(:last-child) {
		margin-bottom: 30px;
	}

	.contacts__items i {
		margin-right: 15px;
	}

	.contacts__items a {
		font-size: 24px;
	}

	.compare-list {
		padding: 0;
	}

	.about {
		background-size: cover;
		background-position: center;
	}

	.section-subscribe {
	}

	.header__nav ul li {
		padding: 0 7px;
		font-size: 12px;
	}

	.header__icons a {
		margin-right: 27px;
	}

	.header__nav {
		transform: translate(calc(-50% + 30px), -50%);
	}

	.product-layout__name {
		padding: 0px 15px;
		font-size: 14px;
		line-height: 24px;
	}

	.product-layout__actions {
		padding: 0;
	}

	.product-layout__actions .btn {
		min-width: 155px;
		padding: 0px 10px;
	}

	.header .container {
		max-width: 1280px;
	}

	.subscribe .input-wrap {
		margin-bottom: 20px;
	}

	.section {
		padding: 40px 0;
	}

	.section-subscribe {
		background-size: cover;
		padding: 21px 0;
	}

	.section-subscribe .section__heading {
		margin-bottom: 20px;
	}

	.catalog-carousel {
		margin-bottom: 0;
	}

	.news-layout__pct {
		position: relative;
		height: 257px;
	}

	.news-layout__pct img {
		position: relative;
		top: 50%;
		left: 50%;
		width: 100%;
		height: auto;
		transform: translate(-50%, -50%);
	}

	.news-layout__hover {
		padding: 30px 15px;
	}

	.news-layout__title {
		margin-bottom: 20px;
	}

	.news-layout__desc {
		font-size: 14px;
		line-height: 1.3;
		margin-bottom: 20px;
	}

	.news-carousel {
		margin-bottom: 50px;
	}

	.footer__address {
		font-size: 12px;
	}

	.header__internal .header__logo {
		margin-right: 0;
	}

	@keyframes slideSide {
		0% {
			width: 0;
			margin-left: 0;
			margin-right: 0;
			opacity: 0;
		}

		100% {
			width: 650px;
			margin-left: -20px;
			margin-right: 27px;
			opacity: 1;
		}
	}

	.news-layout__pct {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 1600px) and (min-width: 1201px) {

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap {
		width: calc(50% - 15px);
	}

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap:nth-child(3n) {
		margin-right: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap:nth-child(2n) {
		margin-right: 0;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group ~ .input-wrap {
		margin-right: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group ~ .input-wrap:nth-child(3n + 1) {
		margin-right: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group ~ .input-wrap:nth-child(2n + 1) {
		margin-right: 0;
	}

	.main-banner + .section .products-carousel .product-layout__price {
		font-size: 30px;
	}

	.page-heading {
		padding: 105px 0 158px;
	}

	.catalog-container.x4 .catalog-body {
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	.catalog-container.x4 .catalog-body .product-layout.non-hover {
		padding: 30px 7px;
	}
	.catalog-container.x4 .catalog-body .product-layout.non-hover .product-layout__pct {
		height: 200px;
	}

	.catalog-container.x4 .catalog-body .product-layout.non-hover:not(.slick-slide):not(.product-layout-com):hover .product-layout__pct {
		height: 102px;
	}
}

@media screen and (max-width: 1200px) {
	.header__icons a {
		margin-right: 35px;
	}

	.header__search {
		display: none;
		position: fixed;
		z-index: 20;
		top: 0;
		left: 0;
		width: 100vw;
		transition: .3s;
	}

	.header__search.active {
		display: block;
		animation: none;
		opacity: 1;
	}

	.header__search form {
		position: relative;
		z-index: 2;
	}

	.header__search input {
		width: 100%;
		padding: 15px;
		background-color: #f8f8f8;
	}

	.header__search .btn.btn-small {
		border-radius: 0;
		width: 100%;
	}

	.header__search:after {
		content: '';
		position: fixed;
		z-index: 1;
		z-index: 15;
		top: 96px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #000;
		opacity: .1;
	}

	.catalog-sorting:hover {
		border-bottom: 1px solid transparent;
	}

	.catalog-sorting:hover .selectric-wrapper .label,
	.catalog-sorting:hover .catalog-sorting__label {
		color: #828282;
	}


	.selectric-wrapper .selectric-hide-select {
		display: block;
		z-index: 5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
	}
	.selectric-wrapper .selectric-hide-select select {
		display: block;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.catalog-filter-wrap .products-carousel {
		display: none;
	}

	.catalog-filter:not(:last-child) {
		margin-bottom: 0;
	}

	.catalog-view span:last-child {
		display: none;
	}

	.catalog-view span:nth-last-child(2) {
		margin-right: 0;
	}

	.delivery:before,
	.delivery:after {
		content: none;
	}

	.delivery__items, .delivery__note {
		padding: 0;
	}
/*
	div:not(.profile-inputs__edit) > .inputs-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group {
		grid-column: span 2;
	} */

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap {
		width: calc(50% - 15px);
	}

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap:nth-child(3n) {
		margin-right: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap:nth-child(2n) {
		margin-right: 0;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group ~ .input-wrap {
		margin-right: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group ~ .input-wrap:nth-child(3n + 1) {
		margin-right: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group ~ .input-wrap:nth-child(2n + 1) {
		margin-right: 0;
	}

	.simplecheckout-left-column {
		order: 2;
		width: 100% !important;
		margin: 0;
	}

	.simplecheckout-right-column {
		width: 100% !important;
		margin: 0 0 30px;
		padding: 30px 15px 40px;
		order: 1;
	}

	.orders-list,
	.order-single__grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.profile .product-layout.non-hover:not(.slick-slide):not(.product-layout-com) .product-layout__actions{
		height: 90px;
		margin-top: 20px;
		opacity: 1;
	}

	.order-details__side {
		width: 70%;
	}

	.order-details__side:last-child {
		margin-bottom: 30px;
	}

	.order-details-wrap {
		flex-direction: column-reverse;
	}

	.product__buttons {
		margin-bottom: 30px;
	}

	.product__price {
		margin-bottom: 30px;
	}

	.news-archive {
		margin-bottom: 60px;
	}

	.news-archive__pct,
	.news-archive__info {
		width: calc(50% - 15px);
	}

	.news-archive__desc {
		margin-bottom: 15px;
	}

	.news-archive__title {
		margin-bottom: 15px;
	}

	.contacts .contacts__items i {
		font-size: 30px;
	}

	.contacts__items a {
		font-size: 18px;
	}

	.contacts__items span {
		font-size: 12px;
		line-height: 18px;
	}

	.section-subscribe .section__heading {
		text-align: center;
		margin-right: 0;
	}

	.section-subscribe-inline .subscribe {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.section-subscribe-inline .subscribe .input-wrap {
		margin-bottom: 20px;
	}

	.section-subscribe .section__title,
	.section-subscribe-inline .section__heading .section__subtitle, .section-subscribe-inline .section__heading .section__subtitle {
		text-align: center;
	}

	.header .drop-down ul li:hover {
		padding-left: 0;
	}

	.header__nav {
		display: none;
		position: fixed;
		z-index: 2;
		width: 280px;
		top: 85px;
		left: 0;
		height: auto;
		padding: 15px 30px;
		transform: none;
		background-color: white;
		transition: none;
	}

	.gallery:before {
		top: 85px;
	}

	.header__nav ul li a:hover:after {
		content: none;
	}

	.header-visible + main {
		padding-top: 85px;
	}

	.header-visible .header__logo-pct {
		font-size: 57px;
	}

	.header-visible .header__logo-pct {
		margin-right: 16px;
	}

	.header-visible .header__nav-toggle {
		display: flex;
		margin: 0 auto 0 45px;
	}

	.header__internal + main {
		padding-top: 96px;
	}

	.header__internal .header__logo-pct {
		font-size: 57px;
	}

	.header__internal .header__logo-pct {
		margin-right: 16px;
	}

	.header__internal .header__nav-toggle {
		display: flex;
		margin: 0 auto 0 45px;
	}

	.header .drop-down ul li:nth-last-child(2) {
		border-bottom: 1px solid #dedede;
	}

	.header__nav ul li.back {
		display: block !important;
		position: relative;
		padding-left: 30px !important;
	}


	.header__nav ul li.back:after {
		content: '\e92c';
		position: absolute;
		top: 15px;
		left: 0;
		transform: rotate(90deg);
		font-family: 'icomoon', sans-serif;
		font-size: 12px;
	}

	.header__nav ul li.has-child:hover .drop-down {
		display: none;
	}

	.header__nav ul li.has-child {
		position: relative;
	}

	.header__nav ul li.has-child:after {
		content: '\e92c';
		position: absolute;
		top: 0;
		right: 15px;
		transform: rotate(-90deg);
		font-family: 'icomoon', sans-serif;
		font-size: 12px;
	}

	.header .drop-down {
		position: fixed;
		z-index: 5;
		top: 96px;
		left: 0;
		width: 280px;
		transform: none;
		padding: 15px 30px;
		background-color: #fff;
	}

	.header .drop-down ul li {
		font-weight: 300;
		text-transform: uppercase;
	}

	.header .drop-down ul {
		width: 100%;
	}

	.header .drop-down ul li {
		width: 100%;
	}

	.header .drop-down:before, .header .drop-down:after {
		content: none;
	}

	.header__nav ul {
		width: 100%;
	}

	.header__nav ul li {
		display: block;
		width: 100%;
		font-size: 14px;
		font-weight: 300;
		line-height: 42px;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		text-align: left;
	}

	.header__nav ul li:last-child {
		border-bottom: 0;
	}

	.header-visible .header__nav-toggle span {
		background-color: #000;
	}

	.header__internal .header__nav-toggle span {
		background-color: #000;
	}

	/* CATALOG ADAPTIVE START */

	.catalog-filter-wrap {
		position: fixed;
		z-index: 5;
		top: 96px;
		left: 0;
		height: calc(100vh - 150px);
		overflow-y: scroll;
		transform: translateX(-100%);
		transition: .5s ease-in-out;
	}

	.catalog-filter-wrap.active {
		transform: translateX(0);
		box-shadow: 0 0 21px 0 rgba(0, 0, 0, .05)
	}

	.catalog-container {
		width: 100%;
	}

	.catalog-actions {
		position: fixed;
		z-index: 10;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 0 15px;
		border-top: 1px solid #e4e4e4;
		background-color: #f8f8f8;
	}

	.catalog-filter__toggle {
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		margin-right: 15px;
		cursor: pointer;
	}

	.catalog-filter__toggle:before {
		content: '';
		display: block;
		position: absolute;
		top: 5px;
		left: 50%;
		transform: translateX(-50%);
		border: 16px solid transparent;	border-top: 15px solid #fd5a97;
	}

	.catalog-filter__toggle:after {
		content: '';
		display: block;
		position: absolute;
		top: 10px;
		left: 50%;
		height: 50%;
		width: 5px;
		transform: translateX(-50%) skew(0, 30deg);
		background-color: #fd5a97;
	}

	.catalog-sorting {
		margin: 0 auto 0 0;
	}

	.product-layout.non-hover:not(.slick-slide):not(.product-layout-com):hover .product-layout__pct {
		height: 280px;
	}

	.product-layout__name {
		margin-bottom: 15px;
	}

	.catalog-container .product-layout__actions {
		height: auto !important;
		opacity: 1 !important;
		margin-top: 20px;
	}

	/* CATALOG ADAPTIVE END */
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.product .product-layout.non-hover:not(.non-hover-t):not(.product-layout-com):hover .product-layout__pct {
		height: 280px;
	}

	.product .product-layout.non-hover:not(.non-hover-t):not(.product-layout-com):hover .product-layout__actions {
		height: auto;
	}

	.product-layout:hover .product-layout__wishlist-compare {
		opacity: 1;
	}

	.main-banner + .section .products-carousel .btn-transparent:hover {
		background-color: #fff;
		color: #fd5a97;
	}

	.main-banner + .section .products-carousel .product-layout:not(.non-hover):hover {
		box-shadow: none;
	}

	.main-banner + .section .products-carousel .product-layout:not(.non-hover):hover .product-layout__pct {
		height: 240px;
		margin-bottom: 10px;
	}

	.main-banner + .section .products-carousel .product-layout:not(.non-hover):hover .product-layout__actions {
		height: auto;
	}

	.main-banner + .section .products-carousel .product-layout__price {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.main-banner {
		margin-top: 96px;
	}

	.simplecheckout-cart__total {
		display: none;
		padding-left: 0;
	}

	.tablet-visible {
		display: block;
	}

	.simplecheckout-cart .remove {
		right: 0;
		left: auto;
	}

	.simplecheckout-cart__info {
		width: calc(100% - 60px);
		display: flex;
		justify-content: space-between;
	}

	.simplecheckout-cart__name {
    	font-size: 16px;
		line-height: 18px;
		width: 60%;
	}

	.simplecheckout-cart__total {
		width: 21%;
	}

	.simplecheckout-cart__image {
		display: none;
	}
}

@media screen and (max-width: 991px) {

	.text-content h1 {
		font-size: 26px;
	}

	.product .product-layout:hover .product-layout__pct {
		margin-bottom: 15px;
	}

	.catalog-carousel .product-layout:hover {
		padding: 25px 15px 26px;
	}

	.wishlist.x4 .catalog-body {
		grid-template-columns: repeat(2, 1fr);
	}

	.product-reviews__share {
		right: -30px;
		left: -30px;
	}

	#thankYou .modal-body {
		max-width: calc(100vw - 30px);
		padding: 0;
	}

	#thankYou .modal-body:before {
		opacity: 0.3;
	}

	.modal-body__thankYou {
		position: relative;
		z-index: 1;
		padding: 0 15px;
	}

	#thankYou .page-heading-simple .page-heading-simple__title {
		text-align: left;
	}

	#thankYou .page-heading-simple__subtitle {
		text-align: left;
	}

	.product__fn {
		justify-content: flex-start;
	}

	.product__actions {
		margin-left: 30px;
	}

	#profileModal .close:before, #profileModal .close:after {
		background-color: #000;
	}

	.header {
		height: auto;
		background-color: #fff;
		padding: 14px 0;
	}

	.header__main {
		display: none;
	}

	.header__internal .header__logo-text{
		color: #000;
	}

	.header__internal {
		display: flex;
		height: auto !important;
		visibility: visible;
	}

	.header__internal {
		padding: 0;
	}

	.delivery__note-wrap {
		justify-content: space-between;
	}

	.delivery__note {
		width: 100%;
	}

	.header__nav-main ul:first-child li.back {
		display: block;
	}

	.modal-body {
		display: block;
	}

	.modal-callback__pct {
		display: none;
	}

	.delivery__note-wrap {
		padding: 25px 40px;
	}

	.delivery__note-desc p strong {
		font-size: 14px;
	}

	.delivery__items {
		justify-content: center
	}

	.delivery__item {
		width: 50%;
	}

	.orders-list, .order-single__grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.order-details__side {
		width: 100%;
	}

	.header__main .header__logo {
		margin-right: 20px;
	}

	.header__main .header__profile {
		margin-left: 20px;
	}

	.header__main .header__profile .btn {
		min-width: 180px;
	}

	.reviews__body {
		width: 100%;
		margin-bottom: 60px;
	}

	.products-carousel .product-layout__gender {
		display: none;
	}

	.header__nav-main {
		top: 85px;
	}

	.reviews__side {
		width: 100%;
	}

	.reviews__list .product-reviews__item:last-child {
		margin-bottom: 0;
	}

	.product__pct {
		width: 100%;
		margin-bottom: 30px;
	}

	.product__buttons {
		margin-bottom: 0;
	}

	.product__main {
		padding: 40px 30px;
	}

	.product__info {
		width: 100%;
	}

	.product__info__wrap {
		padding: 0;
	}

	.product__qty {
		margin-bottom: 15px;
	}

	.product__fn{
		margin-bottom: 15px;
	}

	.product-reviews__toggle {
		padding: 0 !important;
	}

	.news-archive {
		margin-bottom: 30px;
	}

	.news-archive__pct {
		order: 1 !important;
		width: 100%;
		margin-bottom: 15px;
	}

	.news-archive__info {
		width: 100%;
	}

	.news-archive__item:nth-child(even) .news-archive__info {
		text-align: left;
	}

	.news-archive__item:not(:last-child) {
		padding-bottom: 30px;
		border-bottom: 1px solid #e1e1e1;
	}

	.gallery-grid {
		grid-column-gap: 15px;
		grid-row-gap: 15px;
		grid-template-columns: repeat(4, calc(25% - 12px));
	}

	.page-heading {
		background-size: cover;
	}

	.contacts__item  {
		width: 100%;
		margin-bottom: 20px;
	}

	.contacts__item:last-child {
		margin-bottom: 0;
	}

	.page-heading-simple {
		margin: 30px 0 30px;
	}

	.compare .product-layout.non-hover .product-layout__pct {
		height: 220px;
	}

	.compare-labels {
		width: 140px;
		padding-top: 375px;
	}

	.compare-list {
		width: calc(100% - 155px);
	}

	.catalog-container.x2 .catalog-body,
	.catalog-container.x3 .catalog-body,
	.catalog-container.x4 .catalog-body {
		grid-template-columns: repeat(2, 1fr);
	}

	.catalog-container.x2 .catalog-body .pagination,
	.catalog-container.x3 .catalog-body .pagination,
	.catalog-container.x4 .catalog-body .pagination {
		grid-column: span 2;
	}

	.catalog-view {
		visibility: hidden;
	}

	.catalog-container .product-layout {
		padding-top: 30px;
	}

	.page-heading {
		padding: 130px 0 150px;
	}

	.product-layout {
		border: 1px solid #f1f1f1;
		padding: 60px 15px 20px;
	}

	.product-layout:hover {
		box-shadow: none;
	}

	.product-layout__actions .btn {
		min-width: 142px;
		height: 50px;
		margin: 0 auto;
		line-height: 44px;
	}

	.products-carousel .product-layout__actions .btn {
		margin-bottom: 20px;
	}

	.carousel-nav {
		top: -80px;
	}

	.main-about .section__heading {
		margin-bottom: 20px;
	}

	.news-layout__pct {
		height: 247px;
	}

	.news-layout__hover {
		display: none;
	}

	.news-layout {
		padding-bottom: 0;
	}

	.news-layout:hover {
		box-shadow: none;
	}

	.products-carousel .slick-track, .news-carousel .slick-track, .catalog-carousel .slick-track {
		padding: 0;
	}

	.product-layout__actions .btn.btn-transparent {
		display: block;
		width: 100%;
		height: auto;
		margin: 0;
		padding: 0;
		border: 0;
		border-radius: 0;
		line-height: 1;
	}

	.product-layout__pct {
		margin-bottom: 10px;
		height: 240px;
	}

	.product-layout:hover .product-layout__pct {
		height: 240px;
	}

	.product-layout:hover .product-layout__desc {
		display: none;
	}

	.product-layout:hover .product-layout__pct {
		margin-bottom: 10px;
	}

	.product-layout:hover .product-layout__price {
		margin-bottom: 20px;
	}

	.product-layout:hover .product-layout__actions {
		height: auto;
	}

	.product-layout__price {
		margin-bottom: 20px;
	}

	.catalog-carousel {
		margin-bottom: 40px;
	}

	.catalog-carousel .product-layout__name {
		height: 49px;
		margin-bottom: 25px;
	}

	.catalog-carousel .product-layout__pct {
		height: 172px;
		margin-bottom: 20px;
	}

	.catalog-carousel .product-layout__pct img {
		/* height: 100%; */
		width: auto;
	}

	.catalog-carousel .product-layout {
		border: 1px solid #f1f1f1;
		padding: 20px 15px 25px;
	}

	.product-layout__actions {
		height: auto;
		opacity: 1;
	}

	.catalog-carousel .product-layout__actions .btn {
		min-width: 142px;
		height: 50px;
		line-height: 44px;
	}

	.catalog-carousel .product-layout__price {
		margin-bottom: 20px;
	}

	.catalog-carousel .product-layout:hover .product-layout__pct {
		height: 172px;
		margin-bottom: 20px;
	}

	.catalog-carousel .product-layout:hover {
		padding: 20px 15px 25px;
		box-shadow: none;
	}

	.catalog-carousel .product-layout:hover .product-layout__name {
		height: 49px;
		margin-bottom: 25px;
	}

	.catalog-carousel .product-layout:hover .product-layout__actions {
		height: auto;
	}

	.catalog-carousel .product-layout__gender {
		right: 20px;
	}

	.product-layout__wishlist-compare {
		opacity: .5;
	}

	.product-layout:hover .product-layout__wishlist-compare {
		opacity: .5;
	}

	.section-subscribe {
		background-size: cover;
	}

	.footer {
		padding-top: 40px;
	}

	.footer__grid {
		display: none;
	}

	.footer__grid-mob {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		padding: 0 50px 40px;
	}

	.footer__title {
		margin-bottom: 20px;
	}

	.footer__title:last-child {
		margin-bottom: 0;
	}

	.footer__bottom {
		padding: 30px 0 20px;
	}

	.footer__bottom > * {
		width: 100%;
		order: 2;
		text-align: center;
	}

	.footer__bottom > .footer__socials {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		order: 1;
		text-align: center;
	}

	.footer__bottom > .footer__copyright {
		margin: 25px 0 20px;
	}

	.header__main {
		/* display: none; */
	}

	.header__internal {
		/* display: none; */
	}

	.next-slide {
		display: none;
	}

	.main-banner {
		width: 100%;
		height: 453px;
		overflow: hidden;
	}

	.main-banner img {
		position: relative;
		width: auto;
		max-width: none;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media screen and (max-width: 767px) and (min-width: 321px) {
	.header__icons a {
		margin-right: 25px;
	}
}
@media screen and (max-width: 767px) {
	.product__nav .slick-arrow.slick-prev {
		left: 6px;
	}

	.product__nav .slick-arrow.slick-next {
		right: 6px;
	}

	.header__nav {
		width: 100%;
		height: calc(100vh - 64px);
	}

	.header .drop-down {
		width: 100%;
		height: calc(100% - 64px);
		overflow-y: scroll;
	}

	.text-content h1 {
		font-size: 18px;
	}

	.product .product-layout.non-hover:not(.non-hover-t):not(.product-layout-com):hover .product-layout__pct {
		height: 132px;
	}

	.product .products-carousel .product-layout:hover {
		margin: 0 15px;
	}

	.wishlist.x4 .catalog-body {
		grid-template-columns: repeat(1, 1fr);
	}

	.product-reviews__share {
		right: -15px;
		left: -15px;
	}

	.product-reviews {
		bottom: -15px;
	}

	#thankYou .page-heading-simple .page-heading-simple__title {
		font-size: 30px;
	}

	.catalog-carousel .product-layout__old-price {
		margin-top: -3px;
	}

	.catalog-carousel .product-layout__gender {
		top: 20px;
		right: 12px;
	}

	.product-reviews__pct {
		width: 100%;
		margin-bottom: 15px;
	}

	.product-reviews__body {
		width: 100% !important;
	}

	.modal-callback__form {
		width: calc(100% - 30px);
		margin: 30px auto;
		padding: 30px 20px;
	}

	.modal-profile__side {
		width: calc(100% - 30px);
		margin: 0 auto;
		padding: 30px 20px;
	}

	.modal-profile__social [class^="icon"] {
		display: none;
	}

	.compare:before {
		top: 64px;
	}

	.btn.btn-medium:active {
		line-height: 41px;
	}

	.btn.btn-default:active {
		line-height: 41px;
	}

	.header__alert {
		width: calc(100vw - 30px);
	}

	.header__alert-message {
    	white-space: normal;
	}

	.contacts .contacts__items i.icon-mail-kontaktu {
		font-size: 23px;
	}

	.contacts__items span {
		width: calc(100% - 45px);
	}

	.input-wrap label {
		width: calc(100% - 28px);
	}

	.news .page-heading-simple {
		margin-top: 30px;
	}

	.about .page-heading-simple {
		margin-top: 30px;
	}

	.gallery .page-heading-simple {
		margin-top: 30px;
	}

	.page-heading-simple__subtitle {
		text-align: center;
	}

	.delivery__item {
		width: 100%;
		padding: 0;
	}

	.text-content img {
		margin: 10px 0 !important;
	}

	.delivery__item:not(:last-child) {
		margin-bottom: 15px;
	}

	.simplecheckout-cart__total {
		width: 100%;
		margin-top: 10px;
		font-size: 20px;
		text-align: right;
		padding: 0;
	}

	.delivery__note-icon {
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
		text-align: center;
	}

	.delivery__note-wrap {
		padding: 25px 20px;
	}

	.page-heading-simple__title {
		font-size: 20px;
		text-align: center;
	}

	.delivery__note-desc {
		width: 100%;
	}

	.simplecheckout-cart-total {
		font-size: 18px;
	}

	.simplecheckout-cart ~ .btn-transparent{
		margin-top: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap {
		width: 100%;
		margin-right: 0 !important;
	}

	.main-banner + .section .products-carousel .product-layout__price {
		font-size: 30px;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .form-group {
		grid-column: span 1;
	}

	.orders-list, .order-single__grid, .order-heading__total {
		grid-template-columns: repeat(1, 1fr);
	}

	.order-heading__total span:not(:last-child) {
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}

	.catalog-carousel .product-layout,
	.products-carousel .product-layout {
		margin: 0 4px;
		padding: 10px 12px 20px;
	}

	.catalog-carousel .product-layout:hover ,
	.products-carousel .product-layout:hover {
		margin: 0 4px;
		padding: 10px 12px 20px;
	}

	.catalog-carousel .product-layout .product-layout__timer,
	.products-carousel .product-layout .product-layout__timer {
		display: none;
	}

	.catalog-carousel .product-layout .product-layout__pct,
	.products-carousel .product-layout .product-layout__pct {
		height: 132px;
		margin-bottom: 12px;
	}

	.catalog-carousel .product-layout:hover .product-layout__pct,
	.products-carousel .product-layout:hover .product-layout__pct {
		height: 132px;
		margin-bottom: 12px;
	}

	.catalog-carousel .product-layout .product-layout__name,
	.products-carousel .product-layout .product-layout__name {
		height: 60px;
		font-size: 13px;
		letter-spacing: .33px;
		line-height: 16px;
		text-transform: none;
		padding: 0;
		margin-bottom: 12px;
		font-weight: 400;
	}

	.catalog-carousel .product-layout .product-layout__wishlist-compare,
	.products-carousel .product-layout .product-layout__wishlist-compare {
		opacity: 1;
		background-color: rgba(255,255,255,.8);
		border-radius: 7px;
		box-shadow: 0 0 20px 0 rgba(255,255,255, .7);
		transform: scale(0.8);
		top: 0;
		left: 5px;
		right: auto;
	}

	.catalog-carousel .product-layout__gender {
		top: 5px;
		right: 5px;
		font-size: 18px;
	}

	.product-layout__wishlist-compare a {
		font-size: 20px;
	}

	.catalog-carousel .product-layout .product-layout__actions,
	.products-carousel .product-layout .product-layout__actions {
		display: none;
	}

	.catalog-carousel .product-layout .product-layout__old-price,
	.products-carousel .product-layout .product-layout__old-price {
		font-size: 12px;
		line-height: 1;
		letter-spacing: .3px;
		margin-bottom: 6px;
	}

	.catalog-carousel .product-layout .product-layout__price,
	.products-carousel .product-layout .product-layout__price {
		font-size: 18px;
		line-height: 1;
		letter-spacing: .45px;
		margin-bottom: 0;
	}

	.product-layout:not(.non-hover):hover .product-layout__price,
	.catalog-carousel:not(.non-hover):hover .product-layout__price {
		font-size: 18px;
		line-height: 1;
		letter-spacing: .45px;
		margin-bottom: 0;
	}

	.catalog-carousel {
		margin-bottom: 20px;
	}

	.slick-dots {
		display: flex !important;
		align-content: center;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}

	.slick-dots li {
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 4px;
		padding: 0;
		border: 0;
		border-radius: 50%;
		background-color: #cccccc;
		opacity: 0.5;
		font-size: 0;
	}

	.slick-dots li.slick-active {
		background-color: #fd5a97;
		opacity: 1;
	}

	.carousel-nav {
		display: none;
	}

	.section {
		padding: 25px 0;
	}

	.slick-dots li button{
		display: none;
	}

	.carousel-wrap {
		margin: 0 -4px;
	}

	.header .drop-down {
		top: 64px;
	}

	.reviews__list {
		padding-top: 25px;
	}

	.reviews__list .product-reviews__item {
		margin-bottom: 30px;
	}

	.product-reviews__meta {
		margin-bottom: 10px;
	}

	.product-reviews__rating {
		margin-bottom: 10px;
	}

	.reviews__tab {
		margin-right: 11px;
		padding-bottom: 5px;
		font-size: 12px;
	}

	.reviews__tab:last-child {
		margin-right: 0;
	}

	.reviews__side {
		padding: 30px 15px;
	}

	.reviews__side .catalog-filter__title {
		font-size: 14px;
		margin-bottom: 30px;
	}

	.reviews__side .input-wrap {
		margin-bottom: 10px;
	}

	.reviews__side .input-rating {
		margin-bottom: 15px;
	}

	.reviews__side .catalog-filter__title {
		text-align: center;
	}

	.reviews__side .catalog-filter__title:before,
	.reviews__side .catalog-filter__title:after {
		content: none;
	}

	.reviews__side .check-wrap {
		margin-bottom: 10px;
	}

	.carousel-nav {
		transform-origin: center right;
		transform: scale(.6);
	}

	.product__archive__title {
		margin-bottom: 20px;
	}

	.product__archive .carousel-nav {
		top: -40px;
	}

	.product__actions {
		margin: 0 auto;
		font-size: 30px;
	}

	.product__main {
		padding: 15px;
	}

	.product__title {
		font-size: 14px;
		line-height: 18px;
	}

	.product__manufacturer {
		font-size: 14px;
		margin-bottom: 10px;
	}

	.product__sku {
		margin-bottom: 15px;
	}

	.product__price {
		margin-bottom: 15px;
	}

	.product__buttons {
		text-align: center;
	}

	.product__buttons .btn.btn-default{
		margin-right: 0;
		margin-bottom: 10px;
	}

	.product__share {
		margin-bottom: 10px;
	}

	.product__buttons{
		margin-bottom: 10px;
	}

	.product-reviews__scroll {
		margin-right: 0;
		padding-left: 0;
	}

	.news {
		padding-bottom: 45px;
	}

	.pagination li a, .pagination li span {
		width: 25px;
		height: 25px;
		font-size: 14px;
		line-height: 25px;
	}

	.gallery-grid + .pagination {
		margin-top: 30px;
	}

	main:before, main:after {
		opacity: .3 !important;
	}

	.gallery-grid {
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: repeat(2, calc(50% - 5px));
	}

	.contacts .check-wrap {
		margin-bottom: 15px;
	}

	.input-captcha > *:not(:last-child) {
		margin-bottom: 10px;
	}

	.input-wrap input {
		height: 50px;
	}

	.contacts .input-wrap {
		margin-bottom: 15px;
	}

	.contacts__items {
		margin-top: 30px;
	}

	.contacts .page-heading {
		padding: 110px 0 100px;
	}

	.contacts .flex-container .input-wrap {
		width: 100%;
	}

	/* main header start */

	.header__logo-pct {
		margin-right: 0;
		font-size: 38px;
	}

	.header__logo {
		margin-right: 20px;
	}

	/* main header end */

	.btn,
	.btn.btn-medium {
		min-width: 183px;
		height: 45px;
		border-radius: 23px;
		line-height: 41px;
	}

	.compare-labels {
		display: none;
	}

	.compare-list {
		width: 100%;
	}

	.section-subscribe-inline .subscribe .input-wrap {
		max-width: 100%;
	}

	.about__desc {
		width: 100%;
	}

	.page-heading-simple {
		margin: 30px 0 15px;
	}

	.page-heading-simple__subtitle {
		font-size: 12px;
	}

	.about {
		padding-bottom: 45px;
	}

	.about__desc h5 {
		margin-bottom: 10px;
		font-size: 18px;
	}

	.about__desc {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.about__desc strong {
		font-size: 12px;
	}

	.catalog-container.x2 .catalog-body,
	.catalog-container.x3 .catalog-body,
	.catalog-container.x4 .catalog-body {
		grid-template-columns: repeat(1, 1fr);
	}

	.catalog-container.x2 .catalog-body .pagination,
	.catalog-container.x3 .catalog-body .pagination,
	.catalog-container.x4 .catalog-body .pagination {
		grid-column: span 1;
	}

	.catalog-view {
		display: none;
	}

	.catalog-sorting {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}

	.header__icons a .icon-search,
	.header__icons a .icon-libra {
		font-size: 17px;
	}

	.header__icons a .icon-wishlist {
		font-size: 16px;
	}

	.header__icons a .icon-cart {
		font-size: 20px;
	}

	.header__icons a .icon-cart {
		font-size: 19px;
	}

	.header__icons a .icon-call-back {
		font-size: 17px;
	}

	.footer__grid-mob {
		grid-template-columns: repeat(1, 1fr);
		padding: 0;
	}

	.footer__grid-mob > *:last-child {
		margin: 20px -15px 0;
		padding: 20px 0;
		border-top: 1px solid rgba(255, 255, 255, .1);
		border-bottom: 1px solid rgba(255, 255, 255, .1);
		text-align: center;
	}

	.footer__bottom {
		border-top: 0;
	}

	.footer__title {
		margin-bottom: 0;
		line-height: 30px;
		text-align: center;
	}

	.header__logo-text {
		display: none;
	}

	.header .header__logo-pct {
		margin-right: 0;
		font-size: 38px;
	}

	.header .header__nav-toggle {
		margin-left: 20px;
	}

	.header {
		padding: 13px 0;
	}

	.header + main {
		padding-top: 64px;
	}

	.selectric-wrapper .label {
		text-transform: none;
	}

	.catalog-sorting__label {
		margin-right: 10px;
		line-height: 21px;
	}

	.catalog-filter-wrap {
		width: 100%;
		top: 64px;
		height: calc(100vh - 118px);
	}

	.page-heading__title {
		margin-bottom: 5px;
		font-size: 26px;
	}

	.page-heading__subtitle {
		font-size: 12px;
	}

	.page-heading {
		padding: 70px 0 50px;
	}

	.catalog .catalog-body {
		padding-top: 0;
	}

	.catalog-sorting:hover {
		border-bottom-color: transparent;
	}

	.catalog-filter {
		padding: 30px 15px 1px;
	}

	.catalog-filter__title {
		margin-bottom: 15px;
	}

	.header__nav {
		top: 64px;
		box-shadow: 0 0 21px 0 rgba(0, 0, 0, .05);
	}

	.catalog-filter__title {
		position: relative;
	}

	.catalog-filter__title:before,
	.catalog-filter__title:after {
		content: '';
		display: block;
		position: absolute;
		top: 7px;
		right: 0;
		width: 20px;
		height: 2px;
		background-color: #000;
		border-radius: 1px;
	}

	.catalog-filter__title:before {
		transform: rotate(-45deg);
	}

	.catalog-filter__title:after {
		transform: rotate(45deg);
	}

	.not-found__title {
		font-size: 30px;
		margin-bottom: 15px;
	}

	.not-found__desc {
		font-size: 12px;
	}

	.header__main {
		display: none;
	}

	.header:not(.scrolled) .header__internal {
		display: flex;
		height: auto;
		visibility: visible;
	}

	.main-banner {
		height: 190px;
	}

	.main-banner img {
		transform: translateX(-48%);
	}

	.section__heading  {
		margin-bottom: 24px;
	}

	.news-layout__pct {
		display: none;
	}

	.news-layout:not(:last-child) {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}

	.news-layout__title {
		margin: 0;
		padding: 0 10px;
		text-align: left;
		height: auto;
	}

	.header {
		height: auto;
		background-color: #fff;
	}

	.main-about {
		padding-top: 15px;
	}

	.main-about .section__title {
		font-size: 16px;
		letter-spacing: .4px;
		line-height: 1;
		margin-bottom: 24px;
	}

	.main-about {
		position: relative;
		margin-bottom: 30px;
		cursor: pointer;
	}

	.main-about:after {
		content: 'читать полностью';
		display: block;
		position: absolute;
		bottom: -30px;
		left: 50%;
		transform: translateX(-50%);
		color: #ff5a9a;
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
	}

	.main-about p {
		height: 116px;
		overflow: hidden;
		font-size: 14px;
		line-height: 24px;
	}

	.main-about.active {
		margin-bottom: 0;
	}

	.main-about.active:after {
		content: none;
	}

	.main-about.active p {
		display: block;
		height: auto;
	}

	/* .main-about p:first-of-type {
		/* display: none; */
	} */

	div:not(.profile-inputs__edit) > .inputs-grid {
		display: block;
	}

	div:not(.profile-inputs__edit) > .inputs-grid .input-wrap,
	div:not(.profile-inputs__edit) > .inputs-grid .form-group legend {
		margin-bottom: 35px;
	}
}

@media screen and (max-height: 430px) {
	.not-found__pct img {
		width: 360px;
	}
}

@media screen and (max-width: 330px) {

	.input-wrap label i[class^="icon"] {
		margin-right: 10px;
	}

	.input-wrap input {
		padding-left: 54px;
	}

	.input-wrap label {
		left: 20px;
	}

	.input-wrap label.error {
		padding-left: 20px;
		flex-wrap: nowrap;
	}

	.header__icons a {
		margin-right: 16px;
	}
	.modal-body .input-wrap label {
		align-content: center;
	}
	.modal-body .input-wrap label span {
		max-width: calc(100% - 70px);
	}
}
