<footer class="footer">
	<div class="container">
		<div class="footer__grid">
			<div class="footer__col">
				<a href="#" class="footer__title">Магазин</a>
				<ul>
					<li><a href="#">Секс-товары для женщин</a></li>
					<li><a href="#">Секс-товары для мужчин</a></li>
					<li><a href="#">Вибраторы</a></li>
					<li><a href="#">Фаллоимитаторы</a></li>
					<li><a href="#">Страпоны, фаллопротезы</a></li>
				</ul>
			</div>
			<div class="footer__col">
				<a href="#" class="footer__title"></a>
				<ul>
					<li><a href="#">BDSM, садо-мазо товары</a></li>
					<li><a href="#">Анальные игрушки</a></li>
					<li><a href="#">Эротическая одежда</a></li>
					<li><a href="#">Секс-мебель и качели</a></li>
					<li><a href="#">Смазки, лубриканты</a></li>
				</ul>
			</div>
			<div class="footer__col">
				<a href="#" class="footer__title"></a>
				<ul>
					<li><a href="#">Косметика с феромонами</a></li>
					<li><a href="#">Приятные мелочи</a></li>
					<li><a href="#">Приложение</a></li>
				</ul>
			</div>
			<div class="footer__col titles-list">
				<a href="#" class="footer__title">Галерея</a>
				<a href="#" class="footer__title">о нас</a>
				<a href="#" class="footer__title">Отзывы</a>
				<a href="#" class="footer__title">Новости</a>
				<a href="#" class="footer__title">Доставка и оплата</a>
				<a href="#" class="footer__title">Контакты</a>
			</div>
			<div class="footer__col">
				<a href="#" class="footer__title">МОЙ Nebulatoy</a>
				<ul>
					<li><a href="#">Мои данные</a></li>
					<li><a href="#">Мой вишлист</a></li>
					<li><a href="#">История покупок</a></li>
					<li><a href="#">Выход</a></li>
				</ul>
			</div>
			<div class="footer__col">
				<a href="#" class="footer__title">Контакты</a>
				<a href="tel:+74996505636" class="footer__tel">+7 (499) 650-56-36</a>
				<div class="footer__address">г. Москва, Балаклавский пр-т д. 2</div>
				<a href="mailto:info@nebulatoy.com" class="footer__mail">info@nebulatoy.com</a>
			</div>
		</div>
		<div class="footer__grid-mob">
			<div>
				<a href="#" class="footer__title">Магазин</a>
				<a href="#" class="footer__title">о нас</a>
				<a href="#" class="footer__title">Новости</a>
			</div>
			<div>
				<a href="#" class="footer__title">Доставка и оплата</a>
				<a href="#" class="footer__title">Контакты</a>
				<a href="#" class="footer__title">МОЙ Nebulatoy</a>
			</div>
			<div>
				<a href="tel:+74996505636" class="footer__tel">+7 (499) 650-56-36</a>
				<div class="footer__address">г. Москва, Балаклавский пр-т д. 2</div>
				<a href="mailto:info@nebulatoy.com" class="footer__mail">info@nebulatoy.com</a>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__copyright">© NEBULA TOY 2019, Все права защищены</div>
			<div class="footer__socials flex-container flex-left flex-middle">
				<a href="#" target="_blank" rel="nofollow"><i class="icon-face"></i></a>
				<a href="#" target="_blank" rel="nofollow"><i class="icon-vk"></i></a>
				<a href="#" target="_blank" rel="nofollow"><i class="icon-twit"></i></a>
				<a href="#" target="_blank" rel="nofollow"><i class="icon-insta"></i></a>
			</div>
			<a href="http://web-systems.solutions" target="_blank" rel="nofollow" class="footer__wss"><i class="icon-wss"></i></a>
		</div>
	</div>
</footer>
<div class="modal fade" id="callbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<div class="modal-callback__pct"><img src="img/modal-callback.jpg" alt="callback"></div>
				<div class="modal-callback__form">
					<div class="section__heading">
						<div class="section__title">Заказать Звонок</div>
						<div class="section__subtitle">мы Вам перезвоним</div>
					</div>
					<form action="">
						<div class="input-wrap">
							<input type="text" id="callback-name-1">
							<label for="callback-name-1"><i class="icon-log-in"></i><span>Имя</span></label>
						</div>
						<div class="input-wrap">
							<input type="tel" id="callback-phone-1">
							<label for="callback-phone-1"><i class="icon-call-back"></i><span>Номер телефона</span></label>
						</div>
						<div class="input-wrap">
							<textarea name="message" placeholder="Если есть желание... что-то написать"></textarea>
						</div>
						<button class="btn btn-default btn-center"><span>Жду звонка</span></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="review" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<div class="modal-callback__pct"><img src="img/modal-callback.jpg" alt="callback"></div>
				<div class="modal-callback__form modal-review__form">
					<div class="section__heading">
						<div class="section__title">Оставить отзыв</div>
						<div class="section__subtitle">...</div>
					</div>
					<form action="">
						<div class="input-wrap">
							<input type="text" id="callback-name-1">
							<label for="callback-name-1"><i class="icon-log-in"></i><span>Имя</span></label>
						</div>
						<div class="input-rating">
						   <div class="input-rating__radio">
							   <input type="radio" name="rating" id="rating-1">
							   <label for="rating-1"></label>
						   </div>
						   <div class="input-rating__radio">
							   <input type="radio" name="rating" id="rating-2">
							   <label for="rating-2"></label>
						   </div>
						   <div class="input-rating__radio">
							   <input type="radio" name="rating" id="rating-3">
							   <label for="rating-3"></label>
						   </div>
						   <div class="input-rating__radio">
							   <input type="radio" name="rating" id="rating-4">
							   <label for="rating-4"></label>
						   </div>
						   <div class="input-rating__radio">
							   <input type="radio" name="rating" id="rating-5">
							   <label for="rating-5"></label>
						   </div>
						</div>
						<div class="input-wrap">
							<textarea name="message" placeholder="Расскажи нам о своих впечатлениях"></textarea>
						</div>
						<div class="check-wrap">
							<input type="checkbox" id="notifications">
							<label for="notifications">Я даю согласие на обработку персональных
								данных и соглашаюсь с<br>
								<a href="#">правилами обработки персональных данных.</a></label>
						</div>
						<button class="btn btn-default btn-center"><span>Поделиться опытом</span></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-profile">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<div class="modal-profile__side modal-profile__side-auth">
					<div class="modal-profile__desc">Чтобы зарегистрироваться, просто войдите через свой любимый аккаунт в соцсети</div>
					<div class="modal-profile__socials">
						<a href="#" class="modal-profile__social modal-profile__social-fb"><i class="icon-face2"></i>Вход через Facebook</a>
						<a href="#" class="modal-profile__social modal-profile__social-gg"><i class="icon-google"></i>Вход через Google</a>
					</div>
					<div class="section__heading">
						<div class="section__title">Вход через логин и пароль</div>
						<div class="section__subtitle">всегда рады...</div>
					</div>
					<form action="">
						<div class="input-wrap">
							<input type="text" id="login-email-1">
							<label for="login-email-1"><i class="icon-mail"></i><span>E-mail</span></label>
							<label for="login-email-1" class="error"><i class="icon-mail"></i><span>E-mail введен некоректно.<br> Он должен содержать символ @ </span></label>
						</div>
						<div class="input-wrap">
							<input type="password" id="login-pass-1">
							<label for="login-pass-1"><i class="icon-pass"></i><span>Пароль</span></label>
							<label for="login-pass-1" class="error"><i class="icon-pass"></i><span>неверный пароль</span></label>
						</div>
						<button class="btn btn-default btn-center"><span>Войти</span></button>
					</form>
				</div>
				<div class="modal-profile__side modal-callback__form">
					<div class="section__heading">
						<div class="section__title">Регистрация</div>
						<div class="section__subtitle">без лишних слов...</div>
					</div>
					<form action="">
						<div class="input-wrap">
							<input type="text" id="reg-name-1" value="asdasd">
							<label for="reg-name-1"><i class="icon-log-in"></i><span>Имя</span></label>
						</div>
						<div class="input-wrap">
							<input type="email" id="reg-email-1">
							<label for="reg-email-1"><i class="icon-mail"></i><span>E-mail</span></label>
						</div>
						<div class="input-wrap">
							<input type="password" id="reg-pass-1">
							<label for="reg-pass-1"><i class="icon-pass"></i><span>Пароль</span></label>
						</div>
						<div class="input-wrap">
							<input type="password" id="reg-pass-2">
							<label for="reg-pass-2"><i class="icon-pass"></i><span>Давай еще разок</span></label>
						</div>
						<div class="check-wrap">
							<input type="checkbox" id="notifications">
							<label for="notifications">Я ХОЧУ ... получать уведомления про интересные предложения и новинки</label>
						</div>
						<button class="btn btn-default btn-center"><span>Зарегестрироваться</span></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="thankYou" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-profile">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
				<div class="modal-body__thankYou">
					<div class="page-heading-simple">
						<div class="page-heading-simple__subtitle">Спасибо за покупку</div>
						<div class="page-heading-simple__title">Это было прекрасно...</div>
					</div>
					<div>
						Мы благодарны за Ваш выбор.<br>
						Делайте свою жизнь разнообразной вместе с нами
					</div>
				</div>
			</div>
		</div>
	</div>
</div>