<meta name="description" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#fff">
<link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" href="img/favicons/favicon.ico" type="image/x-icon">
<link rel="stylesheet" media="all" href="css/style.css" >
