<header class="header">
	<div class="container">
		<div class="header__main flex-container flex-between flex-middle">
			<div class="header__logo-nav flex-container flex-left flex-middle">
				<div class="header__logo">
					<div class="header__logo-pct">
						<i class="icon-logo"></i>
					</div>
					<div class="header__logo-text">					
						<div class="header__logo-name">NEBULATOY</div>
						<div class="header__logo-desc">итнернет-магазин для взрослых</div>
					</div>
				</div>
				<div class="header__nav-toggle flex-container">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<div class="header__nav-main">
					<div class="container flex-container flex-left flex-top">
						<ul class="flex-container flex-between flex-top">
							<li><a href="#">Секс-товары для женщин</a></li>
							<li><a href="#">Эротическая одежда</a></li>
							<li><a href="#">Секс-товары для мужчин</a></li>
							<li><a href="#">Секс-мебель и качели</a></li>
							<li><a href="#">Вибраторы</a></li>
							<li><a href="#">Смазки, лубриканты</a></li>
							<li><a href="#">Фаллоимитаторы</a></li>
							<li><a href="#">Косметика с феромонами</a></li>
							<li><a href="#">Страпоны, фаллопротезы</a></li>
							<li><a href="#">Приятные мелочи</a></li>
							<li><a href="#">BDSM, садо-мазо товары</a></li>
							<li><a href="#">Приложение</a></li>
							<li><a href="#">Анальные игрушки</a></li>
						</ul>
						<ul>
							<li><a href="#">Галерея</a></li>
							<li><a href="#">о нас</a></li>
							<li><a href="javascript:void(0)">Отзывы</a></li>
							<li><a href="#">Новости</a></li>
							<li><a href="#">Доставка и оплата</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="header__contact-profile flex-container flex-right flex-top">
				<div class="header__contact">
					<a class="header__phone" href="tel:+74996505636">+7 (499) 650-56-36</a><br>
					<span class="header__callback" data-toggle="modal" data-target="#callbackModal">Заказать звонок</span>
				</div>
				<div class="header__profile">
					<span class="btn btn-black" data-toggle="modal" data-target="#profileModal">Авторизация</span>
				</div>
			</div>
		</div>
		<div class="header__internal flex-container flex-between flex-middle">
			<div class="header__logo-nav flex-container flex-left flex-middle">
				<div class="header__logo">
					<div class="header__logo-pct">
						<i class="icon-logo"></i>
					</div>
					<div class="header__logo-text">					
						<div class="header__logo-name">NEBULATOY</div>
						<div class="header__logo-desc">итнернет-магазин для взрослых</div>
					</div>
				</div>
			</div>
			<div class="header__nav-toggle flex-container">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="header__nav">
				<ul>
					<li class="has-child">
						<a href="javascript:void(0)">Каталог товаров</a>
						<div class="drop-down">
							<ul>
								<li class="back"><a href="#">Назад</a></li>
								<li><a href="#">Секс-товары для женщин</a></li>
								<li><a href="#">Эротическая одежда</a></li>
								<li><a href="#">Секс-товары для мужчин</a></li>
								<li><a href="#">Секс-мебель и качели</a></li>
								<li><a href="#">Вибраторы</a></li>
								<li><a href="#">Смазки, лубриканты</a></li>
								<li><a href="#">Фаллоимитаторы</a></li>
								<li><a href="#">Косметика с феромонами</a></li>
								<li><a href="#">Страпоны, фаллопротезы</a></li>
								<li><a href="#">Приятные мелочи</a></li>
								<li><a href="#">BDSM, садо-мазо товары</a></li>
								<li><a href="#">Приложение</a></li>
								<li><a href="#">Анальные игрушки</a></li>
							</ul>
						</div>
					</li>
					<li><a href="javascript:void(0)">Галерея</a></li>
					<li><a href="javascript:void(0)">о нас</a></li>
					<li><a href="javascript:void(0)">Отзывы</a></li>
					<li><a href="javascript:void(0)">Новости</a></li>
					<li><a href="javascript:void(0)">Доставка и оплата</a></li>
					<li><a href="javascript:void(0)">Контакты</a></li>
				</ul>
			</div>
			<div class="header__icons flex-container flex-right flex-middle">
				<a href="#" class="search-toggle"><i class="icon-search"></i></a>
				<div class="header__search">
					<form autocomplete="off" class="flex-container flex-left flex-middle">
						<input type="search" placeholder="Я ищу" id="search">
						<button type="submit" class="btn btn-default btn-small"><span>Искать</span></button>
					</form>
				</div>
				<a href="javascript:void(0)"><i class="icon-libra"></i></a>
				<a class="active" href="javascript:void(0)"><i class="icon-wishlist"></i><span>12</span></a>
				<a class="active" href="javascript:void(0)"><i class="icon-cart"></i><span>3</span></a>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#profileModal"><i class="icon-log-in"></i></a>
				<a href="javascript:void(0)" data-toggle="modal" data-target="#callbackModal"><i class="icon-call-back"></i></a>
			</div>
		</div>
	</div>
</header>
