<?php echo $header; ?>
<main class="product">
    <div class="breadcrumbs container">
        <?php $this->partial('breadcrumbs', array('breadcrumbs' => $breadcrumbs));?>
    </div>
    <div class="container">
        <div class="product__main flex-container flex-between flex-stretch">
            <script type="application/ld+json">
                {
                    "@context": "https://schema.org",
                    "@type": "Product",
                    "url": "<?php echo $og_url; ?>",
                    "category": "<?php echo $category_name; ?>",
                    "image": "<?php echo $thumb; ?>",
                    <?php if($manufacturer){ ?>
                    "brand": "<?php echo $manufacturer; ?>",
                    <?php } ?>
                    <?php if($model){ ?>
                    "sku": "<?php echo $model; ?>",
                    "model": "<?php echo $model; ?>",
                    <?php } ?>
                    "productID": "<?php echo $product_id; ?>",
                    <?php if($reviews_count){ ?>
                    "aggregateRating": {
                        "@type": "AggregateRating",
                        "ratingValue": "<?php echo $rating; ?>",
                        "reviewCount": "<?php echo $reviews_count; ?>"
                    },
                    <?php } ?>
                    "name": "<?php echo $heading_title; ?>",
                    <?php if($description){ ?>
                    "description": "<?php echo $description; ?>",
                    <?php } ?>
                    "offers": {
                        "@type": "Offer",
                        "availability": "http://schema.org/<?php echo (($availability) ? 'InStock' : 'OutOfStock') ?>",
                        "price": "<?php echo rtrim(preg_replace("/[^0-9\.]/", "", ($special ? $special : $price)), '.'); ?>",
                        "priceCurrency": "RUB",
                        "url": "<?php echo $og_url; ?>"
                    }
                    <?php /*
                    "isRelatedTo": [
                        {
                            "@type": "Product",
                            "image": "<?php echo $thumb; ?>",
                            "url": "<?php echo $href_product; ?>",
                            "name": "<?php echo $heading_title; ?>",
                            "offers": {
                                "@type": "Offer",
                                "price": "<?php echo rtrim(preg_replace("/[^0-9\.]/", "", ($special ? $special : $price)), '.'); ?>",
                                "priceCurrency": "<?php echo $cur_cur_code; ?>"
                            }
                        }
                    ]*/?>
                }
            </script>
            <div class="product__pct">
                <?php if ($thumb || $images) { ?>
                    <?if($special){ ?>
                        <div class="product__labels">
                            <span><i class="icon-gift"></i></span>
                            <span><i class="icon-percent"></i></span>
                        </div>
                    <?php } ?>
                    <div class="product__gender">
                        <i class="icon-women"></i>
                    </div>
                    <div class="product__slider">
                        <?php $k = 1; ?>
                        <?php if ($thumb) { ?>
                        <a href="<?= $popup ?>" data-fancybox="images"><img src="<?= $thumb ?>" alt="<?php echo ($model) ? $heading_title . '(' . $model . ') фото '. $k : $heading_title . ' фото '. $k; ?>" title="<?php echo ($model) ? $heading_title . ', артикул: ' . $model : $heading_title; ?>"></a>
                        <?php } ?>
                        <?php if ($images) { ?>
                        <?php foreach ($images as $image) { $k++; ?>
                            <a href="<?php echo $image['popup']; ?>" data-fancybox="images"><img src="<?php echo $image['thumb']; ?>" alt="<?php echo ($model) ? $heading_title . '(' . $model . ') фото '. $k : $heading_title . ' фото '. $k; ?>" title="<?php echo ($model) ? $heading_title . ', артикул: ' . $model : $heading_title; ?>"></a>
                            <?php } ?>
                        <?php } ?>
                    </div>
                    <div class="product__nav">
                        <?php $k = 1; ?>
                        <?php if ($addit) { ?>
                            <span><img src="<?= $addit ?>" alt="<?php echo ($model) ? $heading_title . '(' . $model . ') фото '. $k : $heading_title . ' фото '. $k; ?>" title="<?php echo ($model) ? $heading_title . ', артикул: ' . $model : $heading_title; ?>"></span>
                        <?php } ?>
                        <?php if ($images) { ?>
                            <?php foreach ($images as $image) {$k++; ?>
                                <span><img src="<?php echo $image['addit']; ?>" alt="<?php echo ($model) ? $heading_title . '(' . $model . ') фото '. $k : $heading_title . ' фото '. $k; ?>" title="<?php echo ($model) ? $heading_title . ', артикул: ' . $model : $heading_title; ?>"></span>
                            <?php } ?>
                        <?php } ?>
                    </div>
                <?php } ?>
            </div>
            <div id="product" class="product__info">
                <div class="product__info__wrap">
                    <div class="product__title"><?php echo $heading_title; ?></div>
                    <div class="product__manufacturer"><?= $manufacturer ?></div>
                    <div class="product__sku"><span>Артикул:</span> <?= $model ?> (<?= $sku ?>)</div>

                    <?php if($variant_products) { ?>
                        <div class="product__subtitle">Варианты этого товара</div>
                        <ul class="product-layout2__wrap">
                        <?php foreach ($variant_products as $product) { ?>
                            <?php $this->partial('product_item_line', array('product' => $product));?>
                        <?php } ?>
                        </ul>
                    <?php } ?>
                    <?if($special){ ?>
                        <div class="product__price-old"><?= $price ?></div>
                        <div class="product__price">
                            <?= $special ?>
                            <div class="product__availability<?= (!$availability) ? ' none' : ''?>"><?= $stock?> <?= $availability ? $quantity . ' шт' : '' ?></div>
                        </div>
                    <?php }else{ ?>
                    <div class="product__price">
                        <?= $price ?>
                        <div class="product__availability<?= (!$availability) ? ' none' : ''?>"><?= $stock?> <?= $availability ? $quantity . ' шт' : '' ?></div>
                    </div>
                    <?php } ?>
                    <div class="product__qty flex-container flex-left flex-middle">
                        <div class="text_qty">Количество</div>
                        <div class="wrap_input flex-container flex-left flex-middle">
                            <div class="qty_btn bnt_minus"></div>
                            <input type="number" name="quantity" data-qty="<?= $quantity ?>" data-min="<?php echo $minimum; ?>" value="<?php echo $minimum; ?>" size="2" readonly="readonly" id="input-quantity">
                            <div class="qty_btn bnt_plus"></div>
                            <input type="hidden" name="product_id" value="<?php echo $product_id; ?>">
                        </div>
                    </div>

                    <?php if ($options) { ?>
                       <div class="hidden" style="display: none;">
                        <h3><?php echo $text_option; ?></h3>
                        <?php foreach ($options as $option) { ?>
                            <?php if ($option['type'] == 'select' || $option['type'] = 'radio') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                                    <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">

                                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                                            <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                                                <?php if ($option_value['price']) { ?>
                                                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                                <?php } ?>
                                            </option>
                                        <?php } ?>
                                    </select>
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'radio22') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label"><?php echo $option['name']; ?></label>
                                    <div id="input-option<?php echo $option['product_option_id']; ?>">
                                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                                                    <?php echo $option_value['name']; ?>
                                                    <?php if ($option_value['price']) { ?>
                                                        (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                                    <?php } ?>
                                                </label>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'checkbox') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label"><?php echo $option['name']; ?></label>
                                    <div id="input-option<?php echo $option['product_option_id']; ?>">
                                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                                                    <?php echo $option_value['name']; ?>
                                                    <?php if ($option_value['price']) { ?>
                                                        (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                                    <?php } ?>
                                                </label>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'image') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label"><?php echo $option['name']; ?></label>
                                    <div id="input-option<?php echo $option['product_option_id']; ?>">
                                        <?php foreach ($option['product_option_value'] as $option_value) { ?>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                                                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <?php echo $option_value['name']; ?>
                                                    <?php if ($option_value['price']) { ?>
                                                        (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                                                    <?php } ?>
                                                </label>
                                            </div>
                                        <?php } ?>
                                    </div>
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'text') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                                    <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'textarea') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                                    <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'file') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label"><?php echo $option['name']; ?></label>
                                    <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
                                    <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'date') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                                    <div class="input-group date">
                                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                                        <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'datetime') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                                    <div class="input-group datetime">
                                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                                        <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                </div>
                            <?php } ?>
                            <?php if ($option['type'] == 'time') { ?>
                                <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
                                    <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
                                    <div class="input-group time">
                                        <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                                        <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
                                </div>
                            <?php } ?>
                        <?php } ?>
                       </div>
                    <?php } ?>

                    <div class="product__fn flex-container flex-between flex-middle">
                        <div class="product__buttons"<?= (!$availability) ? ' style="display: none"' : '' ?>>
                            <button type="button" id="button-cart" class="btn btn-default"><span>Купить</span></button>
                            <button type="button" onclick="get_popup_purchase('<?php echo $product_id; ?>');" class="btn btn-transparent"><span>Купить в 1 клик</span></button>
                        </div>
                        <div class="product__actions">
                            <a href="javascript:void(0);" title="<?php echo $button_wishlist; ?>" <?= $wishlist_status ? 'class="wishlist-' . $product_id . ' active"' : 'class="wishlist-' . $product_id . '" onclick="wishlist.add('. $product_id . ');"' ?>><i class="icon-wishlist"></i></a>
                            <a href="javascript:void(0);" title="<?php echo $button_compare; ?>" <?= $compare_status ? 'class="compare-' . $product_id . ' active"' : 'class="compare-' . $product_id . '" onclick="compare.add(' . $product_id . ');"' ?>><i class="icon-libra"></i></a>
                        </div>
                    </div>
                    <div class="product__share">
                        <span>Поделиться:</span>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo $og_url; ?>" target="_blank"><i class="icon-face2"></i></a>
                        <a href="https://telegram.me/share/url?url=<?php echo $og_url; ?>" target="_blank"><i class="icon-telegram2"></i></a>
                        <a href="viber://forward?text=<?php echo $og_url; ?>" target="_blank"><i class="icon-viber2"></i></a>
                    </div>
                    <div class="product__subtitle">Описание товара</div>
                    <div class="product__desc">
                        <?php echo $description; ?>
                        <p>
                        <?php if ($attribute_groups) { ?>
                               <table class="table table-bordered">
                                    <?php foreach ($attribute_groups as $attribute_group) { ?>
                                        <tbody>
                                        <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                                            <tr>
                                                <td><?php echo $attribute['name']; ?></td>
                                                <td><?php echo $attribute['text']; ?></td>
                                            </tr>
                                        <?php } ?>
                                        </tbody>
                                    <?php } ?>
                                </table>
                        <?php } ?>
                        </p>

                    </div>
                </div>
                <div class="product-reviews" >
                    <div class="product__subtitle product-reviews__toggle flex-container flex-between flex-middle"><span>Отзывы о товаре</span><i class="icon-arrow-select"></i></div>
                    <div class="product-reviews__wrap" id="review">

                    </div>
                </div>
            </div>
        </div>
        <?php if ($products) { ?>
        <div class="product__archive">
            <div class="product__archive__title"><?php echo $text_related; ?></div>
            <div class="carousel-wrap">
                <?php $count = count($products); ?>
                <?php if($count>4){ ?>
                    <div class="carousel-nav">
                        <i class="icon-arrow-left"></i>
                        <i class="icon-arrow-right"></i>
                    </div>
                <?php } ?>
                <div class="products-carousel products-carousel-similar">
                    <?php foreach ($products as $product) { ?>
                        <?php $this->partial('product_item_catalog', array('product' => $product, 'button_cart' => $button_cart, 'button_oneclick' => $button_oneclick,  'button_wishlist' => $button_wishlist, 'button_compare' => $button_compare));?>
                    <?php } ?>
                </div>
            </div>
        </div>
        <?php } ?>
        <?php echo $column_right; ?>
    </div>
</main>
<?php echo $content_bottom; ?>
<div class="modal fade" id="review__modal" tabindex="-1" role="dialog" aria-labelledby="review__modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                <div class="modal-callback__pct"><img src="/catalog/view/theme/default/html/build/img/modal-callback.jpg" alt="callback"></div>
                <div class="modal-callback__form modal-review__form">
                    <div class="section__heading">
                        <div class="section__title">Оставить отзыв</div>
                        <div class="section__subtitle">...</div>
                    </div>
                    <form id="form-review">
                        <div class="input-wrap">
                            <input type="text" name="author" value="" id="author-name">
                            <label for="author-name"><i class="icon-log-in"></i><span>Имя</span></label>
                        </div>
                        <div class="input-rating">
                            <div class="input-rating__radio">
                                <input type="radio" name="rating" value="1" id="rating-1">
                                <label for="rating-1"></label>
                            </div>
                            <div class="input-rating__radio">
                                <input type="radio" name="rating" value="2" id="rating-2">
                                <label for="rating-2"></label>
                            </div>
                            <div class="input-rating__radio">
                                <input type="radio" name="rating" value="3" id="rating-3">
                                <label for="rating-3"></label>
                            </div>
                            <div class="input-rating__radio">
                                <input type="radio" name="rating" value="4" id="rating-4">
                                <label for="rating-4"></label>
                            </div>
                            <div class="input-rating__radio">
                                <input type="radio" name="rating" value="5" id="rating-5">
                                <label for="rating-5"></label>
                            </div>
                        </div>
                        <div class="input-wrap">
                            <textarea name="text" id="text_review" placeholder="Расскажи нам о своих впечатлениях"></textarea>
                        </div>
                        <div class="check-wrap">
                            <input type="checkbox" name="notifications" id="review_notifications">
                            <label for="review_notifications"><?= $text_notifications ?></label>
                        </div>
                        <button id="button-review" class="btn btn-default btn-center"><span>Поделиться опытом</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<?php if (0) { /*
<div class="container" >
    <?php $this->partial('breadcrumbs', array('breadcrumbs' => $breadcrumbs));?>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <div class="row" itemscope itemtype="http://schema.org/Product">
        <?php if ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-8'; ?>
        <?php } ?>
        <div class="<?php echo $class; ?>">
          <?php if ($thumb || $images) { ?>
          <ul class="thumbnails">
            <?php if ($thumb) { ?>
            <li><a class="thumbnail" href="<?php echo $popup; ?>" title="<?php echo $heading_title; ?>"><img itemprop="image" src="<?php echo $thumb; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /></a></li>
            <?php } ?>
            <?php if ($images) { ?>
            <?php foreach ($images as $image) { ?>
            <li class="image-additional"><a class="thumbnail" href="<?php echo $image['popup']; ?>" title="<?php echo $heading_title; ?>"> <img src="<?php echo $image['thumb']; ?>" title="<?php echo $heading_title; ?>" alt="<?php echo $heading_title; ?>" /></a></li>
            <?php } ?>
            <?php } ?>
          </ul>
          <?php } ?>
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab"><?php echo $tab_description; ?></a></li>
            <?php if ($attribute_groups) { ?>
            <li><a href="#tab-specification" data-toggle="tab"><?php echo $tab_attribute; ?></a></li>
            <?php } ?>
            <?php if ($review_status) { ?>
            <li><a href="#tab-review" data-toggle="tab"><?php echo $tab_review; ?></a></li>
            <?php } ?>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-description" itemprop="description"><?php echo $description; ?></div>
            <?php if ($attribute_groups) { ?>
            <div class="tab-pane" id="tab-specification">
              <table class="table table-bordered">
                <?php foreach ($attribute_groups as $attribute_group) { ?>
                <thead>
                  <tr>
                    <td colspan="2"><strong><?php echo $attribute_group['name']; ?></strong></td>
                  </tr>
                </thead>
                <tbody>
                  <?php foreach ($attribute_group['attribute'] as $attribute) { ?>
                  <tr>
                    <td><?php echo $attribute['name']; ?></td>
                    <td><?php echo $attribute['text']; ?></td>
                  </tr>
                  <?php } ?>
                </tbody>
                <?php } ?>
              </table>
            </div>
            <?php } ?>
            <?php if ($review_status) { ?>
            <div class="tab-pane" id="tab-review">
              <form class="form-horizontal" id="form-review">
                <div id="review"></div>
                <h2><?php echo $text_write; ?></h2>
                <?php if ($review_guest) { ?>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-name"><?php echo $entry_name; ?></label>
                    <input type="text" name="name" value="" id="input-name" class="form-control" />
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label" for="input-review"><?php echo $entry_review; ?></label>
                    <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                    <div class="help-block"><?php echo $text_note; ?></div>
                  </div>
                </div>
                <div class="form-group required">
                  <div class="col-sm-12">
                    <label class="control-label"><?php echo $entry_rating; ?></label>
                    &nbsp;&nbsp;&nbsp; <?php echo $entry_bad; ?>&nbsp;
                    <input type="radio" name="rating" value="1" />
                    &nbsp;
                    <input type="radio" name="rating" value="2" />
                    &nbsp;
                    <input type="radio" name="rating" value="3" />
                    &nbsp;
                    <input type="radio" name="rating" value="4" />
                    &nbsp;
                    <input type="radio" name="rating" value="5" />
                    &nbsp;<?php echo $entry_good; ?></div>
                </div>
                <?php echo $captcha; ?>
                <div class="buttons clearfix">
                  <div class="pull-right">
                    <button type="button" id="button-review" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary"><?php echo $button_continue; ?></button>
                  </div>
                </div>
                <?php } else { ?>
                <?php echo $text_login; ?>
                <?php } ?>
              </form>
            </div>
            <?php } ?>
          </div>
        </div>
        <?php if ($column_left || $column_right) { ?>
        <?php $class = 'col-sm-6'; ?>
        <?php } else { ?>
        <?php $class = 'col-sm-4'; ?>
        <?php } ?>
        <div class="<?php echo $class; ?>">
          <div class="btn-group">
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product_id; ?>');"><i class="fa fa-heart"></i></button>
            <button type="button" data-toggle="tooltip" class="btn btn-default" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product_id; ?>');"><i class="fa fa-exchange"></i></button>
          </div>
          <h1 itemprop="name"><?php echo $heading_title; ?></h1>
          <ul class="list-unstyled">
            <?php if ($manufacturer) { ?>
            <li><?php echo $text_manufacturer; ?> <a href="<?php echo $manufacturers; ?>"><?php echo $manufacturer; ?></a></li>
            <?php } ?>
            <li><?php echo $text_model; ?> <?php echo $model; ?></li>
            <?php if ($reward) { ?>
            <li><?php echo $text_reward; ?> <?php echo $reward; ?></li>
            <?php } ?>
              <li><?php echo $text_stock; ?><span itemprop="availability" href="http://schema.org/InStock"><?php echo $stock; ?></span></li>
          </ul>
          <?php if ($price) { ?>
          <ul class="list-unstyled">
            <?php if (!$special) { ?>
            <li>
              <h2><?php echo $price; ?></h2>
            </li>
            <?php } else { ?>
            <li><span style="text-decoration: line-through;"><?php echo $price; ?></span></li>
            <li>
              <h2><?php echo $special; ?></h2>
            </li>
            <?php } ?>
            <?php if ($tax) { ?>
            <li><?php echo $text_tax; ?> <?php echo $tax; ?></li>
            <?php } ?>
            <?php if ($points) { ?>
            <li><?php echo $text_points; ?> <?php echo $points; ?></li>
            <?php } ?>
            <?php if ($discounts) { ?>
            <li>
              <hr>
            </li>
            <?php foreach ($discounts as $discount) { ?>
            <li><?php echo $discount['quantity']; ?><?php echo $text_discount; ?><?php echo $discount['price']; ?></li>
            <?php } ?>
            <?php } ?>
          </ul>
          <?php } ?>
          <div id="product">
            <?php if ($options) { ?>
            <hr>
            <h3><?php echo $text_option; ?></h3>
            <?php foreach ($options as $option) { ?>
            <?php if ($option['type'] == 'select') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <select name="option[<?php echo $option['product_option_id']; ?>]" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <option value="<?php echo $option_value['product_option_value_id']; ?>"><?php echo $option_value['name']; ?>
                <?php if ($option_value['price']) { ?>
                (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                <?php } ?>
                </option>
                <?php } ?>
              </select>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'radio') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="radio">
                  <label>
                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'checkbox') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="option[<?php echo $option['product_option_id']; ?>][]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'image') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <div id="input-option<?php echo $option['product_option_id']; ?>">
                <?php foreach ($option['product_option_value'] as $option_value) { ?>
                <div class="radio">
                  <label>
                    <input type="radio" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option_value['product_option_value_id']; ?>" />
                    <img src="<?php echo $option_value['image']; ?>" alt="<?php echo $option_value['name'] . ($option_value['price'] ? ' ' . $option_value['price_prefix'] . $option_value['price'] : ''); ?>" class="img-thumbnail" /> <?php echo $option_value['name']; ?>
                    <?php if ($option_value['price']) { ?>
                    (<?php echo $option_value['price_prefix']; ?><?php echo $option_value['price']; ?>)
                    <?php } ?>
                  </label>
                </div>
                <?php } ?>
              </div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'text') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'textarea') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <textarea name="option[<?php echo $option['product_option_id']; ?>]" rows="5" placeholder="<?php echo $option['name']; ?>" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control"><?php echo $option['value']; ?></textarea>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'file') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label"><?php echo $option['name']; ?></label>
              <button type="button" id="button-upload<?php echo $option['product_option_id']; ?>" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-default btn-block"><i class="fa fa-upload"></i> <?php echo $button_upload; ?></button>
              <input type="hidden" name="option[<?php echo $option['product_option_id']; ?>]" value="" id="input-option<?php echo $option['product_option_id']; ?>" />
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'date') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group date">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'datetime') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group datetime">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="YYYY-MM-DD HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php if ($option['type'] == 'time') { ?>
            <div class="form-group<?php echo ($option['required'] ? ' required' : ''); ?>">
              <label class="control-label" for="input-option<?php echo $option['product_option_id']; ?>"><?php echo $option['name']; ?></label>
              <div class="input-group time">
                <input type="text" name="option[<?php echo $option['product_option_id']; ?>]" value="<?php echo $option['value']; ?>" data-date-format="HH:mm" id="input-option<?php echo $option['product_option_id']; ?>" class="form-control" />
                <span class="input-group-btn">
                <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span></div>
            </div>
            <?php } ?>
            <?php } ?>
            <?php } ?>
            <?php if ($recurrings) { ?>
            <hr>
            <h3><?php echo $text_payment_recurring ?></h3>
            <div class="form-group required">
              <select name="recurring_id" class="form-control">
                <option value=""><?php echo $text_select; ?></option>
                <?php foreach ($recurrings as $recurring) { ?>
                <option value="<?php echo $recurring['recurring_id'] ?>"><?php echo $recurring['name'] ?></option>
                <?php } ?>
              </select>
              <div class="help-block" id="recurring-description"></div>
            </div>
            <?php } ?>
            <div class="form-group">
              <label class="control-label" for="input-quantity"><?php echo $entry_qty; ?></label>
              <input type="text" name="quantity" value="<?php echo $minimum; ?>" size="2" id="input-quantity" class="form-control" />
              <input type="hidden" name="product_id" value="<?php echo $product_id; ?>" />
              <br />
              <button type="button" id="button-cart" data-loading-text="<?php echo $text_loading; ?>" class="btn btn-primary btn-lg btn-block"><?php echo $button_cart; ?></button>
            </div>
            <?php if ($minimum > 1) { ?>
            <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_minimum; ?></div>
            <?php } ?>
          </div>
          <?php if ($review_status) { ?>
          <div class="rating" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <p >
              <?php for ($i = 1; $i <= 5; $i++) { ?>
              <?php if ($rating < $i) { ?>
              <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
              <?php } else { ?>
              <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
              <?php } ?>
              <?php } ?>
                <span>Рейтинг <span itemprop="ratingValue"><?php echo $rating ?></span>/5 основан на <span itemprop="reviewCount"><?php echo $reviews_count ?></span> отзывов</span>
              <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $reviews; ?></a> / <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"><?php echo $text_write; ?></a></p>
            <hr>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_pinterest_pinit"></a> <a class="addthis_counter addthis_pill_style"></a></div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
            <!-- AddThis Button END -->
          </div>
          <?php } ?>
        </div>
      </div>
      <?php if ($products) { ?>
      <h3><?php echo $text_related; ?></h3>
      <div class="row">
        <?php $i = 0; ?>
        <?php foreach ($products as $product) { ?>
            <?php $this->partial('product_item_module', array('product' => $product, 'button_cart' => $button_cart, 'text_tax' => $text_tax, 'button_wishlist' => $button_wishlist, 'button_compare' => $button_compare));?>
        <?php } ?>
      </div>
      <?php } ?>
      <?php if ($tags) { ?>
      <p><?php echo $text_tags; ?>
        <?php for ($i = 0; $i < count($tags); $i++) { ?>
        <?php if ($i < (count($tags) - 1)) { ?>
        <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>,
        <?php } else { ?>
        <a href="<?php echo $tags[$i]['href']; ?>"><?php echo $tags[$i]['tag']; ?></a>
        <?php } ?>
        <?php } ?>
      </p>
      <?php } ?>
      <?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>*/ }?>
<script type="text/javascript"><!--
$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});
//--></script>
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
                /*$('#content').parent().before('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

                 // Need to set timeout otherwise it wont update the total
                 setTimeout(function () {
                 $('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');
                 }, 100);

                 //$('html, body').animate({ scrollTop: 0 }, 'slow');

                 // $('#cart > ul').load('index.php?route=common/cart/info ul li');*/
                // $('#header_alert .section__title').html('Мы благодарим за Ваш выбор!');
                if(json['total']){
                    $('#cart').attr('href', 'index.php?route=checkout/cart');
                    if(!$('#cart').hasClass('active')){
                        $('#cart').addClass('active');
                    }
                }
                $('#header_alert .header__alert-message').html(json['success']);
                $('#header_alert .header__alert-button span').text('Оформить заказ');
                $('#header_alert .header__alert-button').attr("href", "index.php?route=checkout/simplecheckout");
                $('#header_alert').show();
                setTimeout(function () {
                    $('#header_alert').hide();
                }, 5000);
                // $('#formSuccess').modal('show');
                $('#cart').load('index.php?route=common/cart/info #cart > *');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>
<script type="text/javascript"><!--
/*$('.date').datetimepicker({
	pickTime: false
});

$('.datetime').datetimepicker({
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	pickDate: false
});*/

$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').attr('value', json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
/*$('#review').delegate('.pagination a', 'click', function(e) {
    e.preventDefault();

    $('#review').fadeOut('slow');

    $('#review').load(this.href);

    $('#review').fadeIn('slow');
});*/

$('#review').load('index.php?route=product/product/review&product_id=<?php echo $product_id; ?>');

$('#form-review input, #form-review textarea').on('focus', function() {
    console.log('111');
    $(this).parent('.input-wrap').find('label.error').remove();
});
if($('#form-review [name=notifications]:checked')){
    $('#form-review button').prop('disabled',true);
}else{
    $('#form-review button').prop('disabled', false);
}
$('#form-review [name=notifications]').on('change', function() {
    if(this.checked){
        $('#form-review button').prop('disabled', false);
    }else{
        $('#form-review button').prop('disabled',true);
    }
});
$('#button-review').on('click', function(e) {
    e.preventDefault();
	$.ajax({
		url: 'index.php?route=product/product/write&product_id=<?php echo $product_id; ?>',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			// $('#button-review').button('loading');
		},
		complete: function() {
			// $('#button-review').button('reset');
		},
		success: function(json) {
            // $('#form-review *.error').removeClass('error');
            $('#form-review .text-danger').remove();
            $("#form-review label.error").remove();
            if (json['error']) {
                $.each(json['error'], function (key, value) {

                    if(key == 'author'){
                        $('#form-review input[name=' + key + ']').parent().append('<label for="author-name" class="error"><i class="icon-log-in"></i><span>' + value + '</span></label>');
                    }

                    if(key == 'text'){
                        $('#form-review textarea[name=' + key + ']').parent().append('<label for="text_review" class="error"><span>' + value + '</span></label>');
                    }
                    if (key == 'rating') {
                        $('.input-rating').addClass('error');
                        $('.input-rating').append('<span class="text-danger">' + value + '</span>');
                    }
                });
            }
            if (json['success']) {

                $('#form-review').find("input").removeClass('filled');
                $('input[name=\'name\']').val('');
                // $('input[name=\'phone\']').val('');
                $('textarea[name=\'text\']').val('');
                $('input[name=\'rating\']:checked').prop('checked', false);

                $('#thankYou .page-heading-simple__subtitle').html(json['subtitle']);
                $('#thankYou .page-heading-simple__title').html(json['title']);
                $('#thankYou .modal-body__text').html(json['success']);
                $('#review__modal').modal('hide');
                $('#thankYou').modal('show');
                setTimeout(function () {
                    $('#thankYou').modal('hide');
                }, 5000);
            }
            /*$('.alert-success, .alert-danger').remove();

            if (json['error']) {
                $('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
            }

            if (json['success']) {
                $('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

                $('input[name=\'name\']').val('');
                $('textarea[name=\'text\']').val('');
                $('input[name=\'rating\']:checked').prop('checked', false);
            }*/
		}
	});
});

$(document).ready(function() {
	/*$('.thumbnails').magnificPopup({
		type:'image',
		delegate: 'a',
		gallery: {
			enabled:true
		}
	});*/
});
//--></script>
<?php echo $footer; ?>
