/*input.error{
    border: 2px solid #f66;
}
span.error{
    color: red;
}*/
.quantity .input-group input {
    display: block;
    width: 30px;
    padding: 0;
    border: 0;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}
.quantity .qty_btn {
    position: relative;
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.quantity .qty_btn.bnt_minus:before {
    content: '';
    display: block;
    position: absolute;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
}
.quantity .qty_btn.bnt_plus:before {
    content: '';
    display: block;
    position: absolute;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fd5a97;
}
.quantity .qty_btn.bnt_plus:after {
    content: '';
    display: block;
    position: absolute;
    top: -webkit-calc(50% - 1px);
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #fd5a97;
}
.checkout-simplecheckout .check-wrap label {
    color: #000;
    font-size: 14px;
}
.product-layout2__wrap {
    padding-bottom: 35px;
}

li.product-layout2 {
   list-style: disc;
    margin-left: 10px;
    color: #fd5a97;
}

.product-layout2 a {
    color: #fd5a97;
    text-decoration: underline;

}
.product-layout2 a:hover {
    text-decoration: none;
}

.input-wrap input:focus + label:not(.error) {
    width: 37px !important;
}

.row-attention {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;

}
.row-attention-text {
    color: #FFF;
    font-size: 24px;
    text-align: center;

}
 .pagination li  {
    padding: 0 5px;
}

.pagination li a, .pagination li span {

    width: inherit;!important;
    min-width: 33px;
    padding: 0 10px;

}



@media (max-width: 550px) {
    .row-attention > div{
width: 100%
    }
}