body {
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

p:last-child {
	margin-bottom: 0;
}

* {
	outline: none !important;
}

img {
	max-width: 100%;
}

.flex {
	&-container {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}

	&-left {
		justify-content: flex-start;
	}

	&-center {
		justify-content: center;
	}

	&-between {
		justify-content: space-between;
	}

	&-around {
		justify-content: space-around;
	}

	&-top {
		align-items: flex-start;
	}

	&-middle {
		align-content: center;
		align-items: center;
	}

	&-bottom {
		align-content: flex-end;
		align-items: flex-end;
	}

	&-stretch {
		align-items: stretch;
	}
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: $grey-cc;
}
::-moz-placeholder { /* Firefox 19+ */
	color: $grey-cc;
}
:-ms-input-placeholder { /* IE 10+ */
	color: $grey-cc;
}
:-moz-placeholder { /* Firefox 18- */
	color: $grey-cc;
}

.slick-track {
	margin-left: 0;
}

main {
	min-height: calc(100vh - 277px); 
	overflow: hidden;

	&:before,
	&:after {
		z-index: 1;
	}

	> .container {
		position: relative;
		z-index: 2;
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.tablet-visible {
	display: none;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

CSS
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input, select {
	-webkit-appearance: none;
}