.header {
	position: fixed;
	z-index: 15;
	top: 0;
	right: 0;
	left: 0;
	height: 100px;
	padding: 23px 0;
	transition: .3s;

	&__main {
		padding: 0 18px;
	}

	&__contact {
		margin-top: 9px;
	}

	&__logo-nav,
	&__icons {
		position: relative;
		z-index: 2;
	}

	&__logo {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		color: $white;
		line-height: 1;

		&-pct {
			margin-right: 25px;
			color: $pink;
			font-size: 54px;

			i {
				display: block;
			}
		}

		&-name {
			margin-bottom: 4px;
			font-size: 26px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 6.5px;
		}

		&-desc {
			font-size: 12px;
			letter-spacing: .9px;
		}
	}

	&-visible {
		// position: relative;
		height: auto;
		padding: 14px 0;
		background-color: $white;
		border-bottom: 1px solid $grey-ca-60;

		+ main {
			padding-top: 99px;

		}
		
		.header {
			&__logo {
				color: $black;
			
				&-name {
					font-size: 24px;
				}
			
				&-pct {
					margin-right: 19px;
					font-size: 71px;
				}
			}
		}

		.header__nav-toggle {
			display: none;
		}
	}

	&.scrolled {
		height: 100px;
		padding: 14px 0;
		border-bottom: 1px solid $grey-ca-60;
		background-color: $white;

		.header {
			&__logo {
				color: $black;
			
				&-name {
					font-size: 24px;
				}
			
				&-pct {
					margin-right: 19px;
					font-size: 71px;
				}
			}
		}

		.header__main {
			height: 0;
			padding: 13px 0 10px;
			overflow: hidden;
		}
	}

	&:not(.scrolled) {
		.header__internal {
			height: 0;
			// overflow: hidden;
		}
	}

	&__logo {
		margin-right: 40px;
	}

	&__nav-toggle {
		align-content: space-between;
		width: 32px;
		height: 21px;
		cursor: pointer;

		&.active {
			span {
				background-color: $pink;
			}
		}

		span {
			display: block;
			width: 100%;
			height: 3px;
			border-radius: 2px;
			background-color: $white;
		}
	}

	&__nav-main {
		display: none;
		position: fixed;
		z-index: 3;
		top: 100px;
		right: 0;
		left: 0;
		padding: 48px 0 57px;
		// background-image: url('../img/tgm.jpg');
    	background-color: rgba(20, 16, 32, 0.94);
		background-position: center;

		a {
			color: $white;
		}

		ul:first-child {
			width: 640px;
			margin-right: 150px;

			li {
				width: calc(50% - 50px);

				&.back {
					display: none !important;
				}


				&:nth-last-child(2) {
					border-bottom: 0;
				}

				a {
					text-transform: none;
					font-size: 16px;
					font-weight: 400;
					padding: 13px 0;
				}
			}
		}

		li {
			border-bottom: 1px solid $grey-dd-01;
			line-height: 1;

			&:last-child {
				border-bottom: 0;
			}

			a {
				display: block;
				padding: 14px 0;
				text-transform: uppercase;
			}
		}
	}

	&__phone {
		margin-bottom: 12px;
		color: $white;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
	}

	&__callback {
		border-bottom: 1px dashed $white;
		color: $white;
		font-weight: 300;
		letter-spacing: .35px;
		line-height: 1;
		cursor: pointer;
	}

	&__profile {
		margin-left: 57px;

		.btn {
			min-width: 196px;
			height: 50px;
			border-radius: 30px;
			line-height: 46px;
		}
	}

	&__nav {
		display: flex;
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		align-content: center;
		align-items: center;
		justify-content: center;
		width: 70%;
		height: 100%;
		transform: translate(-50%, -50%);
		transition: .3s;
		text-align: center;

		&.hide {
			opacity: 0;
		}

		ul {
			li {
				display: inline-block;
				height: 100%;
				padding: 0 15px;
				line-height: 100px;
				text-transform: uppercase;

				&.back {
					display: none !important;
				}

				&.has-child {
					cursor: pointer;

					&:hover .drop-down {
						display: block;
					}
				}

				&.active > a {
					color: $pink;
				}

				a:hover {
					position: relative;

					&:after {
						content: '';
						position: absolute;
						top: calc(100% + 5px);
						left: 0;
						width: 100%;
						height: 1px;
						background-color: $pink;
					}
				}
			}
		}
	}

	.drop-down {
		display: none;
		position: absolute;
		top: calc(100% - 1px);
		left: 50%;
		width: 100vw;
		padding: 60px 0 70px;
		transform: translateX(-50%);
		background-color: $grey-f9;

		&:before {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/drop-down-before.png');
			background-repeat: no-repeat;
			background-position: left top;
			background-size: contain;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/drop-down-after.png');
			background-repeat: no-repeat;
			background-position: right top;
			background-size: contain;
		}

		ul {
			display: flex;
			position: relative;
			z-index: 2;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			width: 640px;
			margin: 0 auto;

			li {
				display: block;
				width: 270px;
				padding: 14px 0;
				transition: .3s;
				border-bottom: 1px solid $grey-de;
				color: $black;
				font-size: 14px;
				font-weight: 400;
				line-height: 1;
				text-align: left;
				text-transform: none;

				&:hover {
					padding-left: 15px;
				}

				&:nth-last-child(1),
				&:nth-last-child(2) {
					border-bottom: 0;
				}
			}
		}
	}

	&__internal {
		visibility: hidden;
		padding: 0 18px;

		&-visible {
			visibility: visible;
			height: auto !important;

		}
	}

	&__icons {
		position: relative;
		z-index: 5;

		> a {
			display: inline-block;
			position: relative;
			margin-right: 35px;

			&:hover {
				color: $pink;
			}

			&:last-of-type {
				margin-right: 0;
			}

			&.active {
				color: $pink;

				span {
					display: block;
				}
			}

			span {
				display: none;
				position: absolute;
				top: -11px;
				right: -15px;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background-color: $pink;
				color: $white;
				font-size: 12px;
				line-height: 26px;
				text-align: center;
			}

			.icon-search {
				font-size: 18px;
			}

			.icon-libra {
				font-size: 19px;
			}

			.icon-wishlist {
				font-size: 17px;

				+ span {
					top: -13px;
				}
			}

			.icon-cart {
				font-size: 20px;
			}

			.icon-log-in {
				font-size: 17px;
			}

			.icon-call-back {
				font-size: 18px;
			}

			i {
				display: block;
			}
		}
	}


	&__alert {
		display: none;
		position: absolute;
		z-index: 5;
		top: 100%;
		right: 0;
		box-shadow: 0 0 21px $black-05;
		
		&-message {
			padding: 14px 18px; 
			background-color: $white;
			font-size: 14px;
			font-weight: 400;
			line-height: 26px;
			letter-spacing: .35px;
			white-space: nowrap;
		}

		&-button {
			display: block;
			width: 100%;
			height: 44px;
			background-color: $pink;
			color: $white;
			font-size: 14px;
			font-weight: 500;
			letter-spacing: .35px;
			line-height: 44px;
			text-align: center;
			text-transform: uppercase;
		}
	}

	&__search {
		position: relative;
		z-index: 5;
		width: 0;
		margin-right: 0;
		overflow: hidden;
		opacity: 0;
		background-color: $white;

		input {
			display: block;
			width: calc(100% - 144px);
			border: 0;
			background-color: $white;
			font-weight: 300;
			caret-color: $pink;
		}

		&.active {
			animation-name: slideSide;
			animation-duration: .5s;
			animation-timing-function: ease-in-out;
			animation-direction: normal;
			animation-fill-mode: forwards;
		}
	}
}

@keyframes slideSide {
	0% {
		width: 0;
		margin-right: 0;
		opacity: 0;
	}

	100% {
		width: 800px;
		margin-right: 40px;
		opacity: 1;
	}
}

.main-banner {
	position: relative;
	height: 100vh;
	background-image: url('../img/main-banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;

	img {
		display: none;
	}
}

.next-slide {
	display: flex;
	position: absolute;
	bottom: 70px;
	left: 50%;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: 93px;
	height: 93px;
	transform: translateX(-50%);
	transition: .3s;
	border: 2px solid $grey-lightest;
	border-radius: 50%;
	background-color: $black;
	color: $white;
	font-size: 51px;
	cursor: pointer;

	&:hover {
		background-color: $white;
		color: $black;
	}
}


.section {
	padding: 50px 0;

	&-dark {
		.section__heading {
			color: $white;
		}

		.page-heading-simple__title {
			color: $white;
		}

		.page-heading-simple__subtitle {
			color: $white;
		}
		
		.section__subtitle {
			color: $white;
		}
	}

	&-grey {
		background-color: $grey-f8;
	}

	&-subscribe {
		background-image: url('../img/subscribe-bg.jpg');
		background-position: center bottom;

		&-inline {
			padding: 25px 0;

			.container {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: center;
			}

			.section__heading {
				margin-right: 50px;
				margin-bottom: 0;

				.section__subtitle,
				.section__subtitle {
					text-align: left;
				}
			}

			.subscribe {
				justify-content: space-between;
				width: 660px;
				margin: 0;

				.input-wrap {
					width: 377px;
					margin-bottom: 0;
				}
			}
		}
	}

	&__heading {
		margin-bottom: 40px;
		
		&-left {
			.section__title,
			.section__subtitle {
				text-align: left;
			}
		}
		
	}

	&__title {
		margin-bottom: 12px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .45px;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
	}

	&__subtitle {
		color: $grey-subtitle;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: .3px;
		line-height: 1;
		text-align: center;
	}
}

.products-carousel .slick-track,
.news-carousel .slick-track,
.catalog-carousel .slick-track {
	padding: 21px 0;
}

.products-carousel {
	.product-layout {
		&__gender {
			position: absolute;
			z-index: 1;
			top: 36px;
			right: 30px;
			font-size: 26px;
			transition: .3s;

			.icon-man {
				color: #0081ee;
			}

			.icon-women {
				color: #fd5a97;
			}
		}

		&:hover {
			.product-layout__gender {
				opacity: 0;
			}
		} 
	}
}

.product-layout {
	position: relative;
	margin: 0 15px;
	padding: 30px 15px;
	transition: .3s;
	text-align: center;

	&:not(.non-hover):hover {
		padding-bottom: 20px;
		box-shadow: 0 0 21px $black-05;

		.product-layout__pct {
			height: 180px;
			margin-bottom: 20px;
		}

		.product-layout__desc {
			height: 37px;
			margin-bottom: 20px;
			opacity: 1;
		}

		.product-layout__price {
			margin-bottom: 30px;
		}

		.product-layout__actions {
			height: 60px;
			opacity: 1;
		}

		.product-layout__wishlist-compare {
			opacity: 1;
		}
	}

	&.non-hover {
		margin: 0;
		border: 1px solid $grey-f1;

		&:not(.non-hover-t):not(.product-layout-com):hover {
			.product-layout__actions {
				height: 90px;
				margin-top: 20px;
				opacity: 1;
			}

			.product-layout__pct {
				height: 170px;
			}

			.product-layout__name {
				margin-bottom: 15px;
			}
		}

		.product-layout__actions {
			.more-link {
				display: block;
				width: 100%;
				margin-top: 15px;
			}
		}

		.product-layout__wishlist-compare {
			top: 20px;
			right: auto;
			left: 20px;
			opacity: 1;

			a:first-child {
				margin-bottom: 12px;
			}

			[class^="icon"] {
				display: block;
				transition: .3s;
				opacity: .5;
				color: $grey-a0;
				font-size: 20px;

				&:hover {
					opacity: 1;
				}
			}
		}

		.product-layout__pct {
			height: 280px;
			margin-bottom: 15px;
		}

		.product-layout__gender {
			position: absolute;
			top: 20px;
			right: 20px;
			font-size: 26px;

			.icon-man {
				color: $blue;
			}

			.icon-women {
				color: $pink;
			}
		}

		.product-layout__name {
			height: 49px;
			font-size: 14px;
			letter-spacing: .35px;
			line-height: 16px;
		}

		.product-layout__price {
			font-size: 24px;

			&-old {
				height: 24px;
				margin-top: -22px;
				color: $grey-b7;
				font-size: 16px;
				letter-spacing: .4px;
				text-decoration: line-through;
			}
		}
	}

	&__timer {
		position: absolute;
		top: 30px;
		left: 15px;
		width: 165px;
		height: 52px;
		border: 1px solid $grey-f1;
		border-radius: 26px;
		background-color: $white;
		font-weight: 400;
		text-align: center;

		label {
			opacity: .3;
			color: $grey-28;
			font-size: 12px;

		}
	}

	&__counter {
		color: $grey-28;
		font-size: 14px;
		font-weight: 400;
	}

	&__pct {
		display: flex;
		align-content: flex-end;
		align-items: center;
		justify-content: center;
		height: 300px;
		margin-bottom: 40px;
		transition: .3s;

		img {
			width: auto;
			max-height: 100%;
		}
	}

	&__name {
		display: block;
		height: 3em;
		margin-bottom: 25px;
		padding: 0 70px;
		overflow: hidden;
		color: $grey-title;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: .4px;
		line-height: 24px;
		text-transform: uppercase;
	}

	&__desc {
		height: 0;
		margin-bottom: 0;
		overflow: hidden;
		transition: .3s;
		opacity: 0;
		color: $grey-75;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: .3px;
		line-height: 1.1;
	}

	&__price {
		margin-bottom: 0;
		transition: .3s;
		color: $grey-title;
		font-size: 36px;
		font-weight: 700;
		letter-spacing: .9px;
		line-height: 1;

		span {
			letter-spacing: normal;
		}
	}

	&__old-price {
		color: $grey-b7;
		font-size: 18px;
		font-weight: 400;
		text-decoration: line-through;
	}

	&__actions {
		height: 0;
		padding: 0 25px;
		overflow: hidden;
		transition: .3s;
		opacity: 0;

		.btn {
			min-width: 190px;
		}
	}

	&__wishlist-compare {
		position: absolute;
		z-index: 2;
		top: 36px;
		right: 30px;
		transition: .3s;
		opacity: 0;

		a {
			display: block;
			transition: .3s;
			color: $grey-a1;
			font-size: 27px;

			&:hover,
			&.active {
				color: $pink;

				i  {
					opacity: 1 !important;
					color: $pink !important;
				}
			}

			&.active {
				color: $pink;

				i  {
					cursor: default !important;
				}
			}
		}
	}
}

.input-wrap {
	position: relative;
	width: 100%;

	input {
		display: block;
		width: 100%;
		height: 56px;
		padding: 0 28px;
		padding-left: 60px;
		border: 0;
		border-radius: 28px;
		background-color: $white;
		font-weight: 400;
		caret-color: $pink;

		&:hover + label i[class^="icon"],
		&:focus + label i[class^="icon"],
		&:active + label i[class^="icon"],
		&.filled + label i[class^="icon"] {
			color: $pink;
		}

		&:active + label span,
		&.filled + label span,
		&:focus + label  span {
			visibility: hidden;
		}

		&:active ~ .error,
		&:focus ~ .error {
			opacity: 0;
		}
	}

	textarea {
		display: block;
		width: 100%;
		height: 100px;
		padding: 15px 28px;
		border: 0;
		border-radius: 28px;
		background-color: $white;
		font-size: 12px;
		font-weight: 400;
		resize: none;
		caret-color: $pink;
	}

	label {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 28px;
		width: 100%;
		transform: translateY(-50%);
		color: $grey-cd;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: .3px;
		cursor: text;
		user-select: none;

		i[class^="icon"] {
			margin-right: 18px;
			transition: .3s;
		}

		i[class="icon-pass"] {
			font-size: 22px;
		}

		&.error {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-left: 28px;
			transform: none;
			border-radius: 28px;
			background-color: $pink;
			color: $white;
			line-height: 56px;

			i {
				display: inline-block;
			}
		}

		span {
			max-width: calc(100% - 60px);
			line-height: normal;
		}
	}

	.icon-log-in {
		font-size: 17px;
	}

	.icon-mail {
		font-size: 13px;
	}

	.icon-call-back {
		font-size: 18px;
	}

	.icon-phone-kontaktu {
		font-size: 19px;
	}

	.icon-addres-kontaktu {
		font-size: 19px;
	}
}

.input-rating {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&__radio {
		margin: 0 9px;

		&.active label:after,
		&.hover label:after {
			opacity: 1;
		}
	}

	input {
		display: none;

		&:checked + label:after {
			opacity: 1;
		}
	}

	label {
		position: relative;
		cursor: pointer;

		&:before {
			content: '\e91c';
			color: $pink;
			font-family: 'icomoon', sans-serif;
			font-size: 23px;
		}

		&:after {
			content: '\e91d';
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			color: $pink;
			font-family: 'icomoon', sans-serif;
			font-size: 23px;
		}
	}
}

.check-wrap {
	input {
		display: none;

		&:checked + label {
			&:after {
				transform: scale(1);
			}

			&:before {
				background-color: $white;
			}
		}
	}

	label {
		display: block;
		position: relative;
		padding-left: 37px;
		color: $white;
		font-size: 12px;
		letter-spacing: .3px;
		line-height: 19px;
		user-select: none;
		cursor: pointer;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 19px;
			height: 19px;
			transition: .3s;
			border-radius: 3px;
			background-color: $white;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 4px;
			left: 4px;
			width: 10px;
			height: 10px;
			transform: scale(0);
			transition: .3s;
			border-radius: 50%;
			background-color: $pink;
		}

		&:hover:before {
			background-color: $pink;
		}

		a {
			color: $pink;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.radio-wrap {
	input {
		display: none;

		&:checked + label:after {
			transform: scale(1);
		}
	}

	label {
		display: block;
		position: relative;
		padding-left: 37px;
		color: $white;
		font-size: 16px;
		letter-spacing: .3px;
		line-height: 1;
		user-select: none;
		cursor: pointer;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 19px;
			height: 19px;
			border: 1px solid $black-05;
			border-radius: 50%;
			background-color: $white;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 4px;
			left: 4px;
			width: 10px;
			height: 10px;
			transform: scale(0);
			transition: .3s;
			border-radius: 50%;
			background-color: $pink;
		}
	}
}

.subscribe {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 377px;
	max-width: 100%;
	margin: 0 auto;

	.input-wrap {
		margin-bottom: 45px;
	}
}

.catalog-carousel {
	margin-bottom: 30px;

	.product-layout__old-price {
		margin-top: -25px;
		margin-bottom: -3px;
	}

	.product-layout {
		padding: 25px 15px 50px;

		&:hover {
			padding: 25px 15px 26px;
			box-shadow: 0 0 21px $black-05;

			.product-layout__pct {
				height: 144px;
				margin-bottom: 25px;
			}

			.product-layout__name {
				height: 66px;
				margin-bottom: 20px;
			}

			.product-layout__price {
				margin-bottom: 20px;
			}

			.product-layout__actions {
				height: 90px;
			}
		}
	}

	.product-layout__wishlist-compare {
		top: 20px;
		right: auto;
		left: 15px;

		a {
			font-size: 20px;
		}
	}

	.product-layout__actions {
		.btn {
			margin-bottom: 17px;
		}

		.more-link {
			font-size: 12px;
			letter-spacing: .3px;
		}
	}

	.product-layout__pct {
		align-content: center;
		align-items: center;
		height: 240px;
		margin-bottom: 40px;

		img {
			display: block;
			width: auto;
			height: auto;
		}
	}

	.product-layout__name {
		height: 32px;
		margin-bottom: 30px;
		padding: 0;
		transition: .3s;
		color: $black;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: .35px;
		line-height: 16px;
	}

	.product-layout__price {
		margin-bottom: 0;
		font-size: 24px;
		letter-spacing: .35px;
		line-height: 1.3;
	}

	.product-layout__gender {
		position: absolute;
		top: 20px;
		right: 30px;
		font-size: 26px;

		.icon-man {
			color: $blue;
		}

		.icon-women {
			color: $pink;
		}
	}
}

.carousel-wrap {
	position: relative;
	margin: 0 -30px;
}

.carousel-nav {
	position: absolute;
	top: -68px;
	right: 15px;
	color: $grey-ca;
	font-size: 16px;
	user-select: none;

	.icon-arrow-left {
		margin-right: 35px;
	}

	i {
		position: relative;

		&:hover:after {
			opacity: 1;
		}

		&:before {
			position: relative;
			z-index: 2;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			width: 52px;
			height: 52px;
			transform: translate(-50%,-50%);
			opacity: 0;
			transition: .3s;
			border-radius: 50%;
			background-color: $grey-f8;
		}
	}

	[class^="icon"] {
		cursor: pointer;
	}
}

.btn-center {
	display: table;
	margin: 0 auto;
}

.news-carousel {
	margin-bottom: 30px;
}

.news-layout {
	position: relative;
	margin: 0 15px;
	padding-bottom: 40px;
	overflow: hidden;
	transition: .3s;

	&:hover {
		box-shadow: 0 0 21px $black-05;

		.news-layout__hover {
			transform: translateY(0);
		}
	}

	&__pct {
		display: block;
		height: 350px;
		margin-bottom: 45px;
		overflow: hidden;

		img {
			width: auto;
			height: 100%;
		}
	}

	&__title {
		display: block;
		height: 3em;
		padding: 0 30px;
		overflow: hidden;
		color: $grey-title;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .35px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
	}

	&__hover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 60px 45px 40px;
		transform: translateY(100%);
		transition: .5s ease-in-out;
		background-color: $white;
		text-align: center;

		.news-layout__title {
			margin-bottom: 35px;
		}
	}

	&__desc {
		margin-bottom: 35px;
		color: $grey-6d;
		font-size: 14px;
		letter-spacing: .35px;
		line-height: 24px;
	}
}

.more-link {
	color: $pink;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .3px;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}
}

.main-about {
	padding-top: 40px;
	border-top: 1px solid $grey-10;
	text-align: center;

	p {
		color: $grey-59;
		line-height: 24px;
	}
}


.footer {
	padding-top: 35px;
	background-color: $blue-dark;
	color: $white;

	&__grid {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		margin-bottom: 40px;

		&-mob {
			display: none;
		}
	}

	&__address {
		color: $grey-f8;
		font-size: 12px;
		font-weight: 400;
	}

	&__title {
		display: block;
		min-height: 21px;
		margin-bottom: 25px;
		transition: .3s;
		color: $grey-f8;
		letter-spacing: .35px;
		text-transform: uppercase;

		&:hover {
			text-decoration: underline;
		}
	}

	.titles-list {
		.footer__title {
			margin-bottom: 0 !important;
			font-size: 12px;
			line-height: 24px;
		}
	}

	&__col:nth-child(4) {
		.footer__title {
			margin-bottom: 21px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	ul {
		font-size: 12px;
		letter-spacing: .3px;
		line-height: 20px;

		a {
			transition: .3s;
			color: $grey-c3;

			&:hover {
				color: $white;
				text-decoration: underline;
			}
		}
	}

	&__bottom {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 10px 10px 15px;
		border-top: 1px solid $white-10;
	}

	&__copyright {
		color: $white;
		font-size: 12px;
	}

	&__wss {
		display: block;
		width: 235px;
		transition: .3s;
		color: $grey-eb;
		font-size: 20px;
		text-align: right;

		&:hover {
			color: $white;
		}
	}

	&__socials {
		font-size: 30px;

		a {
			display: inline-block;
			margin: 0 10px;
			transition: .3s ease-in-out;
			color: $purple;

			i {
				display: block;
			}

			&:hover {
				color: $pink;
			}
		}
	}

	&__tel,
	&__mail {
		color: $grey-f8 !important;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .45px;
	}
}

.modal-callback {
	&__pct {
		display: flex;
		align-content: center;
		align-items: flex-end;
		background-color: $white;
	}

	&__form {
		position: relative;
		width: 429px;
		padding: 30px 45px;
		background-color: $blue-darkest;

		.section__heading {
			margin-bottom: 30px;
			color: $white;
			text-align: left;

			.section__subtitle {
				color: $white;
			}
		}

		.section__title {
			text-align: left;
		}

		.section__subtitle {
			text-align: left;
		}

		textarea {
			height: 177px;
		}
	}
}

.modal .modal-review {
	&__form {
		.input-wrap {
			margin-bottom: 10px;
		}

		.input-rating {
			margin-bottom: 10px;
		}
	}
}

.modal {
	.input-wrap {
		margin-bottom: 25px;
	}

	.btn {
		margin: 33px auto 0;
	}
}

.modal-profile {
	&__side {
		width: 505px;

		&-auth {
			padding: 25px 40px;
			background-color: $pink-pale;
			background-image: url('../img/login-bg.jpg');
			background-position: bottom center;
			background-repeat: no-repeat;

			input {
				border: 1px solid $grey-205-51;
			}
		}
	}

	&__desc {
		margin-bottom: 20px;
		padding-left: 28px;
		font-size: 12px;
		font-weight: 400;
	}

	&__socials {
		margin-bottom: 25px;
	}

	&__social {
		display: block;
		position: relative;
		height: 56px;
		margin-bottom: 15px;
		border-radius: 28px;
		color: $white;
		font-size: 16px;
		font-weight: 400;
		line-height: 56px;
		text-align: center;

		&-fb {
			background-color: $facebook;
		}

		&-gg {
			background-color: $google;
		}

		[class^="icon"] {
			position: absolute;
			top: 50%;
			left: 53px;
			transform: translateY(-50%);
			font-size: 26px;

			&.icon-face2 {
				transform: translateY(-50%) translateX(11px);
			}
		}
	}

	.section__heading {
		margin-bottom: 20px;
	}

	.section__title,
	.section__subtitle {
		text-align: left;
	}
}

.page-heading {
	position: relative;
	padding: 150px 0 178px;
	background-position: center;

	&__title {
		margin-bottom: 10px;
		color: $white;
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.2px;
		line-height: 1;
		text-transform: uppercase;
	}

	&__subtitle {
		color: $grey-f8;
		line-height: 1;
	}

	.breadcrumbs {
		position: absolute;
		top: 0;
		left: 50%;
		padding: 20px 15px 0;
		transform: translateX(-50%);
	}

	&-simple {
		margin: 70px 0;

		&__title {
			margin-bottom: 10px;
			color: $black;
			font-size: 48px;
			font-weight: 700;
			letter-spacing: 1.2px;
			line-height: 1;
			text-transform: uppercase;
		}

		&__subtitle {
			color: $grey-subtitle;
			letter-spacing: .35px;
			font-weight: 400;
			line-height: 1;
		}
	}
}

.breadcrumbs {
	padding: 20px 15px 25px;
	color: $grey-bd;
	font-size: 12px;
	line-height: 1;

	ul {
		li {
			display: inline-block;

			&:first-child {
				letter-spacing: 2.14px;
			}

			a {
				display: inline-block;
				position: relative;
				margin-right: 30px;
				color: $grey-8f;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					right: -19px;
					width: 7px;
					height: 7px;
					transform: translateY(-50%);
					border-radius: 50%;
					opacity: .5;
					background-color: $grey-bd;

				}
			}

			span {
				color: $grey-8f;
			}
		}
	}
}

.catalog {
	.breadcrumbs ul li span {
		color: $white;
	}

	&-filter {
		position: relative;
		padding: 30px 30px 50px;
		background-color: $grey-f8;

		&__toggle {
			display: none;
		}

		&-wrap {
			width: 360px;

			.product-layout.non-hover .product-layout__name {
				padding: 0;
			}
		}

		&:not(:last-child) {
			margin-bottom: 100px;
		}

		&__title {
			margin-bottom: 40px;
			color: $grey-title;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: .45px;
			line-height: 1;
			text-transform: uppercase;
		}

		&__category-list {
			margin-bottom: 50px;
			font-size: 14px;
			line-height: 36px;

			.active {
				a {
					color: $pink;
				}
			}

			a {
				transition: .3s;
				color: $grey-57;

				&:hover {
					color: $pink;
				}
			}
		}

		.mfilter-button-reset {
			position: absolute;
			top: calc(100% + 25px);
			right: 0;
			color: $grey-66;
			font-size: 14px;

			&:before {
				content: '\e921';
				display: inline-block;
				margin-right: 10px;
				font-family: 'icomoon', sans-serif;
				font-size: 9px;
			}
		}
	}

	&-container {
		width: calc(100% - 390px);
		padding-top: 15px;

		&.x2 .catalog-body {
			grid-template-columns: repeat(2, 1fr);

			.pagination {
				grid-column: span 2;
			}
		}

		&.x3 .catalog-body {
			grid-template-columns: repeat(3, 1fr);

			.pagination {
				grid-column: span 3;
			}

			.product-layout.non-hover .product-layout__name {
				padding: 0;
			}
		}

		&.x4 .catalog-body {
			grid-template-columns: repeat(4, 1fr);

			.pagination {
				grid-column: span 4;
			}

			.product-layout.non-hover {
				padding: 30px 10px;
			}

			.product-layout.non-hover .product-layout__name {
				padding: 0;
			}
		}

	}

	&-actions {
		border-bottom: 1px solid $grey-30-01;
	}

	&-sorting {
		position: relative;
		margin-bottom: -1px;
		padding: 15px;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom: 1px solid $pink;

			.catalog-sorting__label {
				color: $pink;
			}

			.selectric-wrapper .label {
				color: $pink;
			}
		}

		&__label {
			position: relative;
			z-index: 4;
			margin-right: 15px;
			color: $grey-82;
			font-size: 12px;
			font-weight: 300;
			letter-spacing: .3px;
		}
	}

	&-view {
		padding: 15px 8px 10px;
		color: $grey-cf;
		font-size: 16px;

		span {
			display: inline-block;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 15px;
			}

			&.active {
				color: $pink;
			}
		}
	}

	.catalog-body {
		padding-top: 30px;
	}

	&-body {
		display: grid;
		grid-column-gap: 30px;
		grid-row-gap: 30px;

		.product-layout {
			margin: 0;
		}
	}

	&-wrapper {
		margin-bottom: 40px;
		padding-bottom: 50px;
		border-bottom: 1px solid $grey-30-01;
	}

	&-desc {
		padding-bottom: 50px;
		color: $grey-57;
		text-align: center;

		p:last-child {
			margin-bottom: 0;
		}
	}
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	li {
		a,
		span {
			display: block;
			width: 33px;
			height: 33px;
			border-radius: 50%;
			font-size: 18px;
			line-height: 33px;
			text-align: center;
		}

		span {
			background-color: $pink;
			color: $white;
		}
	}

	i {
		display: block;
		margin: 0 20px;
	}

	.prev_pagin a,
	.prev_pagin span,
	.next_pagin a,
	.next_pagin span {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		width: auto;
		margin: 0 5px;
		opacity: .3;
		color: $black;
		font-size: 16px;
	}
}

.mfilter-heading {
	margin-bottom: 30px;
	color: $grey-title;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

.mfilter-col-input {
	display: none;
}

.mfilter-checkbox {
	.mfilter-option {
		margin-bottom: 20px;

		&.mfilter-disabled {
			opacity: .3;
			cursor: default;
		}

		&:last-child {
			margin-bottom: 0;
		}

		label {
			position: relative;
			padding-left: 46px;
			color: $grey-57;
			font-size: 14px;
			cursor: pointer;
			user-select: none;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 20px;
				border: 1px solid $grey-e1;
				border-radius: 3px;
				background-color: $white;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 5px;
				left: 5px;
				width: 10px;
				height: 10px;
				transform: scale(0);
				transition: .3s;
				border-radius: 50%;
				opacity: 0;
				background-color: $pink;
			}
		}
	}

	.mfilter-input-active label:after {
		transform: scale(1);
		opacity: 1;
	}

}

.mfilter-col-count {
	display: none;
}

.mfilter-live-filter {
	display: none !important;
}

.mfilter-content-wrapper.mfilter-iscroll {
	position: relative;
	overflow: hidden;
}

.iScrollVerticalScrollbar.iScrollLoneScrollbar {
	width: 7px !important;
	border-radius: 4px !important;
	background-color: $grey-df !important;
}

.iScrollIndicator {
	width: 7px !important;
	border-radius: 4px !important;
	background-color: $pink !important;
}

#column-left {
	background-color: $grey-f8;
}

.mfilter-filter-item {
	margin-bottom: 45px;
}

.ui-slider {
	position: relative;
	height: 7px;
	border-radius: 3px;
	background-color: $grey-df;
}

.ui-slider-range {
	position: absolute;
	height: 100%;
	border-radius: 3px;
	background-color: $pink;
}

.ui-slider-handle {
	position: absolute;
	top: 50%;
	width: 10px;
	height: 10px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	background-color: $pink;
	box-shadow: 0 0 0 4px $white;
}

.mfilter-price-slider {
	margin-bottom: 35px;
}

.mfilter-price-inputs {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	&__side {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: calc(50% - 6px);

		input {
			width: 80px;
			height: 40px;
			border: 1px solid $grey-e1;
			border-radius: 3px;
			color: $grey-57;
			font-size: 15px;
			font-weight: 300;
			line-height: 1;
			text-align: center;
		}

		span {
			color: $grey-57;
			font-size: 14px;
			letter-spacing: .35px;
		}
	}
}

.selectric-wrapper {
	&.selectric-open {

		.selectric-items {
			display: block;
		}

		.label {
			color: $pink;

			&:before {
				transform: rotate(180deg);
			}
		}
	}

	.selectric-hide-select {
		display: none;
	}

	.selectric-items {
		display: none;
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100% !important;
		// height: auto !important;
		padding: 60px 15px 20px 124px;
		border: 1px solid $pink;
		background-color: $white;
		color: $grey-69;
		font-size: 14px;
		letter-spacing: .35px;
		line-height: normal;

		li:not(:last-child) {
			margin-bottom: 14px;
		}
	}

	.selectric-input {
		display: none;
	}

	.label {
		position: relative;
		z-index: 4;
		padding-right: 26px;
		color: $grey-82;
		text-transform: uppercase;
		cursor: pointer;


		&:before {
			content: '\e92c';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			font-family: 'icomoon', sans-serif;
			font-size: 12px;
			line-height: 12px;
		}
	}

	.button {
		display: none;
	}

	li {
		cursor: pointer;
	}
}

.product {
	position: relative;
	padding-bottom: 45px;
	background: linear-gradient(to bottom, $grey-f8 0%, $grey-f8 0%, $white 100%);

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 910px;
		height: 790px;
		background-image: url('../img/product-bg-before.png');
		filter: grayscale(1);
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 878px;
		height: 790px;
		background-image: url('../img/product-bg-after.png');
		filter: grayscale(1);
	}

	&__main {
		position: relative;
		z-index: 1;
		margin-bottom: 30px;
		padding: 50px 0 40px 40px;
		background-color: $white;
		box-shadow: 0 0 40px $black-05;
	}

	&__pct {
		position: relative;
		width: calc(55.888% - 100px);

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__gender {
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		font-size: 26px;

		.icon-women {
			color: $pink;
		}

		.icon-man {
			color: $blue;
		}
	}

	&__labels {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;

		span {
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			width: 54px;
			height: 54px;
			margin-bottom: 15px;
			border-radius: 50%;
			background-color: $grey-f8;
			color: $pink;
			font-size: 24px;
		}
	}

	&__info {
		position: relative;
		width: 44.112%;
		padding-bottom: 21px;

		&__wrap {
			padding-right: 95px;
		}
	}

	&__nav {
		position: relative;
		width: 400px;
		max-width: 100%;
		margin: 35px auto 0;

		.slick-arrow {
			position: absolute;
			top: 50%;
			font-size: 0;
			padding: 0;
			border: 0;
			background-color: transparent;

			&:before {
				content: "\e92c";
				display: block;
				font-family: 'icomoon', sans-serif;
				font-size: 20px;
				color: $grey-65;
			}

			&.slick-next {
				right: 0;
				transform: translate( 100% ,-50%);

				&:before {
					transform: rotate(-90deg);
				}
			}

			&.slick-prev {
				left: 0;
				transform: translate( -100% ,-50%);

				&:before {
					transform: rotate(90deg);
				}
			}
		}

		.slick-slide {
			display: flex !important;
			position: relative;
			flex-wrap: wrap;
			align-content: center;
			align-items: center; 
			justify-content: center;
			height: 92px;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 106px;
				height: 92px;
				transform: translate(-50%, -50%);
				border: 1px solid $grey-f1;
			}
		}
	}

	&__title {
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: .45px;
		line-height: 28px;
		text-transform: uppercase;
	}

	&__manufacturer {
		margin-bottom: 25px;
		color: $grey-57;
		font-size: 20px;
		font-weight: 300;
		line-height: 1;
	}

	&__sku {
		margin-bottom: 35px;
		color: $grey-36;
		line-height: 1;

		span {
			font-weight: 500;
		}
	}

	&__price {
		margin-bottom: 35px;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: .75px;
		line-height: 1;

		&-old {
			color: #a7a4b7;
			font-size: 18px;
			text-decoration: line-through;
		}
	}

	&__qty {
		margin-bottom: 40px;

		.text_qty {
			margin-right: 35px;
			font-weight: 500;
			letter-spacing: .35px;
		}

		.qty_btn {
			position: relative;
			width: 13px;
			height: 13px;
			cursor: pointer;

			&.bnt_minus:before {
				content: '';
				display: block;
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $black;
			}

			&.bnt_plus:before {
				content: '';
				display: block;
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $pink;
			}

			&.bnt_plus:after {
				content: '';
				display: block;
				position: absolute;
				top: calc(50% - 1px);
				left: 0;
				width: 100%;
				height: 2px;
				transform: rotate(90deg);
				background-color: $pink;
			}
		}

		.wrap_input input {
			display: block;
			width: 68px;
			padding: 0;
			border: 0;
			font-size: 24px;
			line-height: 1;
			text-align: center;
		}
	}

	&__buttons {
		.btn {
			min-width: 190px;

			&.btn-default {
				margin-right: 30px;
			}
		}
	}

	&__actions {
		font-size: 22px;

		a {
			transition: .3s;
			color: $grey-d0;

			&:hover {
				opacity: 1;
				color: $pink;
			}

			&:last-child {
				margin-left: 35px;
			}

			&.active {
				color: $pink;
				cursor: default !important;
			}
		}
	}

	&__fn {
		margin-bottom: 35px;
	}

	&__share {
		margin-bottom: 35px;

		span {
			font-weight: 500;
		}

		> * {
			display: inline-block;
			margin-right: 20px;
		}

		a {
			transition: .3s ease-in-out;
			color: $grey-90;
			font-size: 18px;

			&:hover {
				color: $pink;
			}
		}
	}

	&__subtitle {
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__desc {
		margin-bottom: 30px;
		color: $grey-36;
		letter-spacing: .35px;
		line-height: 24px;
	}

	&__availability {
		margin-top: 9px;
		color: $pink;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: .3px;
		line-height: 1;

		&.none {
			color: $red-20;
		}
	}

	&__archive {
		padding: 40px 0 20px;
		background-color: $white;

		.products-carousel .slick-track {
			padding: 0;
		}

		.carousel-wrap {
			margin: 0;
		}

		.product-layout.non-hover {
			margin: 0 15px;
		}

		&__title {
			margin-bottom: 35px;
			padding: 0 15px;
			font-size: 16px;
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
		}

		.carousel-nav {
			top: -48px;
		}
	}

	.product-layout .product-layout__name {
		padding: 0;
	}

	&-reviews {
		display: flex;
		position: absolute;
		z-index: 10;
		bottom: -40px;
		flex-direction: column;
		width: 100%;
		max-height: calc(100% + 40px);
		background-color: $white;

		&.active {
			height: calc(100% + 40px);
		}

		&__body {
			width: 100%;
		}

		&__text {
			color: $grey-59;
		}

		&__pct{
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: center;
			width: 148px;
			height: 122px;
			padding: 8px;
			border: 1px solid $grey-f1;

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}

			+ .product-reviews__body {
				width: calc(100% - 190px);
			}
		}

		&__scroll {
			position: relative;
			max-height: calc(100% - 102px);
			margin-right: 20px;
			padding-right: 15px;
			padding-left: 20px;
			padding-bottom: 1px;
			overflow: hidden;
		}

		&__wrap {
			display: none;
			flex-direction: column;
			height: 100%;
		}

		&__toggle {
			margin-bottom: 40px !important;
			padding-right: 40px;

			&.active {
				padding-left: 20px;

				i {
					transform: rotate(0deg);
				}
			}

			i {
				display: block;
				transform: rotate(180deg);
				color: $grey-65;
				font-size: 12px;
			}

			span {
				cursor: pointer;
			}
		}

		&__share {
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			padding: 21px 0;
			background-color: $grey-f8;
		}

		&__author {
			margin-right: 20px;
			color: $grey-title;
			font-size: 16px;
			font-weight: 700;
			line-height: 1;
			text-transform: uppercase;
		}

		&__date {
			color: $grey-90;
			font-size: 12px;
			font-weight: 300;
			letter-spacing: .3px;
			line-height: 1;
		}

		&__meta {
			margin-bottom: 20px;
		}

		&__item {
			margin-bottom: 35px;
		}

		&__rating {
			position: relative;
			margin-bottom: 25px;
			color: $pink;
			letter-spacing: 0;

			&:before {
				content: '\e91c\e91c\e91c\e91c\e91c';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				color: $pink;
				font-family: 'icomoon', sans-serif;
				letter-spacing: 7px;
				line-height: 1;
			}

			i {
				display: block;
				margin-right: 7px;
			}
		}
	}
}

.news {
	position: relative;
	z-index: 2;
	padding-bottom: 75px;
	background-color: $grey-f8;

	.page-heading-simple {
		margin-top: 58px;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: -247px;
		right: 0;
		width: 579px;
		height: 1500px;
		background-image: url('../img/news-before.png');
		background-position: left top;
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 721px;
		height: 480px;
		background-image: url('../img/news-after.png');
		background-position: left top;
	}

	&-archive {
		position: relative;
		z-index: 2;
		margin-bottom: 105px;

		&__pct {
			order: 1;
			width: 623px;

			img {
				display: block;
				width: 100%;
			}
		}

		&__info {
			order: 1;
			width: calc(100% - 663px);
		}


		&__item:nth-child(even) {
			.news-archive__pct {
				order: 2;
			}

			.news-archive__info {
				text-align: right;
			}
		}

		&__title {
			display: block;
			margin-bottom: 45px;
			color: $grey-title;
			font-size: 18px;
			font-weight: 700;
			letter-spacing: .45px;
			line-height: 1;
			text-transform: uppercase;
		}

		&__desc {
			margin-bottom: 45px;
			color: $grey-36;
			font-weight: 300;
			line-height: 24px;
		}
	}

	&-single {
		position: relative;
		padding-bottom: 80px;
		background-color: $grey-f8;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 435px;
			height: 1075px;
			background-image: url('../img/news-single-before.png');
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 775px;
			height: 701px;
			background-image: url('../img/news-single-after.png');
		}

		&__title {
			margin-top: 0;
			margin-bottom: 50px;
			color: $grey-title;
			font-size: 18px;
			line-height: 1;
			text-transform: uppercase;
		}

		.text-content {
			margin-bottom: 100px;
		}

		&__nav {
			a {
				position: relative;
				color: $pink;

				&:hover {
					text-decoration: underline;

					&:before,
					&:after {
						text-decoration: none !important;
					}
				}

				&:first-child {
					padding-left: 40px;

					&:before {
						content: '\e901';
						position: absolute;
						top: 50%;
						left: 0;
						transform: translateY(-50%);
						font-family: 'icomoon', sans-serif;
						font-size: 16px;
					}
				}

				&:last-child {
					padding-right: 40px;

					&:after {
						content: '\e902';
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						font-family: 'icomoon', sans-serif;
						font-size: 16px;
					}
				}

				i {
					font-size: 16px;
					text-decoration: none;
				}
			}
		}
	}
}

.text-content {
	color: $grey-36;
	
		

	h1 {
		font-size: 48px;
		font-weight: 700;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}

	h2 {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .45px;
		text-transform: uppercase;
	}

	h3 {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: .4px;
		text-transform: uppercase;
	}

	h5 {
		margin: 0 0 30px;
		font-size: 24px;
		font-weight: 500;
		letter-spacing: .6px;
	}

	p {
		margin-bottom: 20px;
		font-size: 14px;
		letter-spacing: .35px;
		line-height: 24px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin-bottom: 20px;
		letter-spacing: .35px;
		line-height: 24px;

		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 25px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 10px;
				left: 0;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $pink;

			}
		}
	}

	ol {
		margin-bottom: 20px;
		letter-spacing: .35px;
		line-height: 24px;

		li {
			position: relative;
			margin-bottom: 10px;
			padding-left: 25px;
			counter-increment: list;

			&:before {
				content: counter(list) '.';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				color: $pink;
			}
		}
	}

	img {
		display: inline-block;
		margin: 60px 0;

		+ img {
			margin-left: 26px;
		}
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 14px;
	}

	a {
		color: $pink;

		&:hover {
			text-decoration: underline;
		}
	}
}

.wishlist {
	

	&.x4 .catalog-body {
		grid-template-columns: repeat(4, 1fr);

		.pagination {
			grid-column: span 4;
		}

		.product-layout.non-hover {
			padding: 30px 10px;
		}

		.product-layout.non-hover .product-layout__name {
			padding: 0;
		}
	}

	position: relative;
	padding-bottom: 125px;
	background-color: $grey-f8;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 483px;
		height: 925px;
		opacity: .8;
		background-image: url('../img/wishlist-before.png');
		filter: grayscale(100%);
	}

	.product-layout {
		background-color: $white;

		&.non-hover .product-layout__gender {
			top: 60px;
		}

		&__remove {
			position: absolute;
			top: 19px;
			right: 20px;
			transition: .3s;
			color: $grey-ac;
			cursor: pointer;

			&:hover {
				color: $grey-a0;
			}
		}
	}
}

.compare {
	position: relative;
	padding-bottom: 95px;
	background-color: $grey-f8;
	overflow: hidden;

	.container {
		position: relative;
		z-index: 2;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 99px;
		right: 0;
		width: 587px;
		height: 1038px;
		opacity: .8;
		background-image: url('../img/compare-before.png');
		filter: grayscale(100%);
	}

	.product-layout {
		margin-bottom: 12px;
		background-color: $white;

		&__compare {
			margin: 0 15px;

			&__buy {
				margin-top: 20px;
			}
		}

		&__remove {
			position: absolute;
			top: 19px;
			right: 20px;
			transition: .3s;
			color: $grey-ac;
			cursor: pointer;

			&:hover {
				color: $grey-a0;
			}
		}

		&.non-hover .product-layout__name {
			height: 42px;
			margin-bottom: 0;
			padding: 0;
			font-size: 12px;
			font-weight: 400;
			letter-spacing: .3px;
			text-transform: none;
		}

		&__atributes {
			div {
				margin-bottom: 9px;
				padding: 0 15px;
				overflow: hidden;
				border: 1px solid $grey-f1;
				background-color: $white;
				color: $grey-57;
				font-size: 16px;
				line-height: 50px;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;

				&:first-child {
					color: $black;
					font-size: 30px;
					font-weight: 700;
					letter-spacing: .75px;
				}

				&:last-child {
					margin-bottom: 0;

				}
			}
		}
	}

	&-labels {
		width: 195px;
		padding-top: 410px;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: .35px;
		line-height: 52px;
		text-transform: uppercase;

		&__item {
			margin-bottom: 9px;
		}
	}

	&-list {
		width: calc(100% - 235px);
		padding-right: 290px;

		&__carousel {
			margin: 0 -15px;
		}
	}
}

#thankYou {
	.modal-body {
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		align-items: center;
		width: 1010px;
		height: 465px;
		padding-left: 415px;
		border: 0;
		background-color: $thankYou;
		background-repeat: no-repeat;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url('../img/thank-you-bg.png');
			background-repeat: no-repeat;
			filter: grayscale(100%);
		}
	}

	.modal-dialog {
		border: 0;
	}

	.page-heading-simple {
		margin: 0 0 40px;

		.page-heading-simple__title {
			margin-top: 3px;
			font-size: 42px;
		}
	}

	.close:before,
	.close:after {
		background-color: $black;
	}
}


.gallery {
	position: relative;
	padding-bottom: 65px;
	overflow: hidden;
	background-color: $grey-f8;

	.page-heading-simple {
		margin-top: 58px;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 99px;
		right: 0;
		width: 531px;
		height: 1200px;
		opacity: .8;
		background-image: url('../img/gallery-before.png');
		filter: grayscale(100%);
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 712px;
		height: 748px;
		opacity: .8;
		background-image: url('../img/gallery-after.png');
		filter: grayscale(100%);
	}

	&-grid {
		display: grid;
		position: relative;
		z-index: 15;
		grid-column-gap: 30px;
		grid-row-gap: 30px;
		grid-template-columns: repeat(4, calc(25% - 22.5px));

		&__item {
			overflow: hidden;

			&.video {
				position: relative;
				grid-column: span 2;
				grid-row: span 2;

				&:before {
					content: '\e920';
					display: block;
					position: absolute;
					top: 19px;
					right: 30px;
					opacity: .5;
					color: $white;
					font-family: 'icomoon', sans-serif;
					font-size: 23px;
				}
			}

			img {
				max-width: 100%;
			}
		}

		+ .pagination {
			margin-top: 70px;
		}
	}
}

.about {
	padding-bottom: 120px;
	background-image: url('../img/about-bg.jpg');
	background-position: center;
	background-size: cover;

	.page-heading-simple {
		margin: 120px 0 45px;

		&__subtitle {
			opacity: 0.8;
			color: $grey-f8;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: .35px;
		}
	}

	.breadcrumbs ul li a,
	.breadcrumbs ul li span {
		color: $white;
	}

	&__desc {
		width: 590px;
		margin-bottom: 70px;
		color: $white;
		font-size: 14px;
		font-weight: 300;
		

		h1 {
			font-size: 48px;
			font-weight: 700;
			letter-spacing: 1.2px;
			text-transform: uppercase;
		}

		h2 {
			font-size: 18px;
			font-weight: 700;
			letter-spacing: .45px;
			text-transform: uppercase;
		}

		h3 {
			font-size: 16px;
			font-weight: 700;
			letter-spacing: .4px;
			text-transform: uppercase;
		}

		h5 {
			margin: 0 0 30px;
			font-size: 24px;
			font-weight: 500;
			letter-spacing: .6px;
		}

		strong {
			font-size: 18px;
			font-weight: 700;
			letter-spacing: .45px;
		}
	}
}

.reviews {
	.breadcrumbs ul li span {
		color: $white;
	}

	&__side {
		width: 360px;
		margin-bottom: -60px;
		padding: 35px 30px;
		background-color: $grey-f8;

		input {
			border: 1px solid $grey-e1;
		}

		textarea {
			height: 177px;
			border: 1px solid $grey-e1;
		}

		.input-wrap {
			margin-bottom: 25px;
		}

		.input-rating {
			margin-bottom: 25px;
		}

		.check-wrap {
			margin-bottom: 35px;

			label {
				color: $grey-32;

				&:before {
					border: 1px solid $grey-e1;
				}

				a {
					color: $pink;

					&:hover {
						text-decoration: underline; 
					}
				}
			}
		}
	}

	&__body {
		width: calc(100% - 385px);
		padding-top: 40px;

		&-products {
			width: 100%;
		}
	}

	&__tabs {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		width: 100%;
	}

	&__tab {
		margin-right: 55px;
		margin-bottom: -1px;
		padding-bottom: 20px;
		border-bottom: 2px solid transparent;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .45px;
		line-height: 1;
		text-transform: uppercase;

		&.active {
			border-bottom: 2px solid $pink;
		}
	}

	&__list {
		padding-top: 40px;
		padding-bottom: 40px;

		.product-reviews__item {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
			margin-bottom: 50px;
		}
	}

	&__wrap {
		padding-bottom: 60px;
	}
}

.not-found {
	padding: 60px 0 65px;
	background-image: url('../img/not-found-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__pct {
		padding: 0 15px;
		margin-bottom: 24px;

		img {
			display: block;
			margin: 0 auto;
		}
	}

	&__title {
		margin-bottom: 25px;
		padding: 0 15px;
		color: $white;
		font-size: 72px;
		font-weight: 500;
		letter-spacing: -1.44px;
		text-align: center;
	}

	&__desc {
		margin-bottom: 25px;
		padding: 0 15px;
		color: $white;
		font-size: 16px;
		font-weight: 300;
		text-align: center;
	}
}

.contacts {
	.breadcrumbs ul li span {
		color: $white;
	}

	.page-heading {
		&__subtitle {
			opacity: 0.8;
			color: $grey-f8;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: .35px;
		}
	}

	&__wrap {
		padding: 45px 15px 50px;
	}

	&__items {
		margin-top: 80px;
		color: $white;

		.icon-phone-kontaktu {
			font-size: 57px;
		}

		.icon-mail-kontaktu {
			font-size: 43px;
		}

		.icon-addres-kontaktu {
			font-size: 59px;
		}

		a {
			color: $white;
			font-size: 36px;
			font-weight: 700;
			letter-spacing: .9px;
			line-height: 1;
		}

		i {
			display: block;
			margin-right: 30px;
		}

		span {
			font-size: 14px;
			line-height: 24px;
			letter-spacing: .35px;
		}
	}

	.page-heading {
		padding: 150px 0 115px;

	}

	input,
	textarea {
		border: 1px solid $grey-e1;
	}

	textarea {
		height: 177px;
	}

	.input-wrap {
		margin-bottom: 34px;
	}

	.flex-container {
		.input-wrap {
			width: calc(33.33% - 20px);
		}
	}

	.input-captcha {
		margin-bottom: 30px;

		&__label {
			margin-right: 25px;
			opacity: .8;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: .35px;
		}

		.input-wrap {
			margin-bottom: 0;

			input {
				width: 160px;
				padding: 0 28px;
			}
		}

		.captcha {
			margin-right: 20px;
		}

		i {
			margin-right: 20px;
			opacity: .5;
			transform-origin: center 12px;
			transition: 1s ease-in-out;
			font-size: 22px;
			cursor: pointer;

			&:hover {
				transform: rotate(720deg);
			}
		}
	}

	.check-wrap {
		margin-bottom: 40px;

		label {
			color: $black;
			font-size: 14px;

			&:before {
				border: 1px solid $grey-e1;
			}
		}

		a {
			color: $pink;
		}
	}
}

.delivery {
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 99px;
		left: 0;
		width: 289px;
		height: 1040px;
		background-image: url('../img/delivery-before.png');
	}

	&:after {
		content: '';
		position: absolute;
		top: 99px;
		right: 0;
		width: 479px;
		height: 1037px;
		filter: grayscale(100%);
		background-image: url('../img/delivery-after.png');
	}

	&__item {
		width: 33%;
		padding: 0 12px;
		text-align: center;
	}

	&__items {
		margin-bottom: 50px;
		padding: 0 200px;
	}

	&__ico {
		height: 103px;
		margin-bottom: 25px;
		color: $pink;

		.icon-delivery-1 {
			font-size: 103px;
		}

		.icon-delivery-2 {
			font-size: 86px;
		}

		.icon-delivery-3 {
			font-size: 85px;
		}

		.icon-puy-1 {
			font-size: 77px;
		}

		.icon-puy-2 {
			font-size: 87px;
		}
	}

	&__title {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .45px;
		text-transform: uppercase;
	}

	&__subtitle {
		font-size: 14px;
		font-weight: 300;
		letter-spacing: .35px;
		line-height: 1;
	}

	&__desc {
		margin-top: 25px;
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		letter-spacing: .35px;

		a {
			color: $pink;
			font-weight: 700;
		}
	}

	&__note {
		margin-right: 55px;
		margin-bottom: 40px;
		padding: 0 200px;
		color: $white;

		&-wrap {
			justify-content: center;
			padding: 25px 70px;
			background-color: #111230;
		}

		&-icon {
			width: 75px;
			margin-right: 50px;
			font-size: 96px;
			
			i {
				display: block;
			}
		}

		&-desc {
			width: auto;
			font-size: 14px;
			font-weight: 300;
			letter-spacing: .35px;
			line-height: 30px;

			p {
				margin-bottom: 0;

				strong {
					font-size: 18px;
					font-weight: 500;
					letter-spacing: .45px;
				}
			}
		}
	}
}

.profile {
	

	.selectric-wrapper {
		position: relative;

		&.selectric-open {
			z-index: 5;
		}
	}
	
	.selectric-items:after {
		content: '';
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		height: 58px;
		width: 100%;
		background-color: white;
	}

	.selectric-scroll {
		position: relative;
		z-index: 1;
	}

	.iScrollVerticalScrollbar.iScrollLoneScrollbar {
		top: 58px !important;
		right: 15px !important;
		bottom: 5px !important;
	}

	.check-wrap label,
	.radio-wrap label {
		color: $black;
		font-size: 16px;

		&:before {
			border: 1px solid $black-05;
		}
	}

	.input-wrap textarea {
		border: 1px solid $black-05;
		height: 177px;
	}

	.selectric-wrapper {
		height: 56px;
		width: 100%;
		padding-left: 58px;
		background-color: $grey-f8;
		border-radius: 28px;

		.label {
			display: block;
			width: 100%;
			line-height: 58px;
			font-size: 14px;
			text-transform: none;
			color: $black;
			font-weight: 400;
			cursor: pointer;

			&:before {
				position: absolute;
				top: 0;
				right: 22px;
				line-height: 58px;
			}
			
			&:after {
				content: '\e918' !important;
				display: block;
				position: absolute;
				top: 50%;
				left: -31px;
				transform: translateY(-50%);
				color: $black;
				font-family: 'icomoon';
				font-size: 23px !important;
				opacity: .2;
			}
		}
		
		.selectric-items {
			overflow: hidden;
			border-radius: 28px;
		}
	}

	.simplecheckout-block-content {
		padding: 0;
	}

	input {
		border: 1px solid $grey-205-51;
	}

	.input-wrap {
		margin-bottom: 26px;
	}

	&-wrap {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.reviews__tabs {
		margin-bottom: 45px;
	}

	h2 {
		margin-bottom: 20px;
		font-size: 26px;
		font-weight: 700;
	}

	form {
		width: 360px;
		max-width: 100%;
	}
}
	
#simplecheckout_payment_address i:before,
#simplecheckout_shipping_address i:before {
	content: '\e918' !important;
	font-size: 23px !important;
}

#simplecheckout_payment_address label,
#simplecheckout_shipping_address label {
	display: flex !important;
}

#simplecheckout_payment_address input,
#simplecheckout_shipping_address input {
	background-color: $grey-f8;
	border: 0;
}


.orders {
	&-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 30px;
		grid-column-gap: 30px;line-height: 1;

		&__item {
			position: relative;
			padding: 30px 20px 20px;
			border: 1px solid $grey-f1;
			transition: .3s;

			&:hover {
				box-shadow: 0 0 21px $black-05;
			}

			&.procesing {
				border-color: rgba(255, 165, 0, .25);

				.orders-list__status {
					color: orange;
				}
			}

			&.complite {
				border-color: rgba(91, 177, 0, .25);

				.orders-list__status {
					color: rgb(91, 177, 0);
				}
			}

			&.cencled {
				border-color: rgba(177, 0, 0, 0.21);

				.orders-list__status {
					color: rgba(177, 0, 0, 1);
				}
			}
		}

		&__title {
			display: block;
			margin-bottom: 10px;
			font-size: 24px;
			font-weight: 700;
		}

		&__status {
			position: absolute;
			top: 33px;
			right: 20px;
			font-weight: 400;
		}

		&__date {
			margin-bottom: 15px;
			font-size: 12px;
			color: $grey-ca;
		}

		&__customer {

		}

		.product-layout__price {
			font-size: 18px;
			margin-bottom: 25px;
		}
		
		.more-link {
			display: block;
			text-align: center;
		}
	}
}

.order-single {
	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 30px;
		grid-column-gap: 30px;
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $grey-f1;
		
		.product-layout__price {
			font-size: 16px !important;
		}
	}

	&__product {
		&-total {
			font-size: 24px;
			font-weight: 700;
			letter-spacing: .9px;
			line-height: 1;
		}

		&-quantity {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin: 5px 0;
			margin-right: 7px;
			color: $grey-bd;

			i {
				margin-right: 7px;
				font-size: 8px;
			}

			span {
				font-size: 16px;
				font-weight: 700;
			}
		}
	}
}

.order-heading__total {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	font-size: 16px;
	align-items: center;

	label {
		font-weight: 400;
	}

	strong {
		font-size: 24px;
		font-weight: 700;
	}
}

.order-deteils {
	align-items: start;
	row-gap: 10px;
}

.order-details__side {
	width: 48%;
}

.checkout-heading.panel-heading {
	margin-bottom: 40px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;
}

div:not(.profile-inputs__edit) > .inputs-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

	.input-wrap {
		margin-bottom: 50px;
		width: calc(33.33% - 20px);
		margin-right: 30px;

		&:nth-child(3n){
			margin-right: 0;
		}
	}

	[class^="col"] {
		padding: 0;
		width: 100%;
	}

	.form-group {
		grid-column: span 3;
		margin-bottom: 5px;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .45px;
		line-height: 1;
		text-transform: uppercase;
		text-align: left;
		margin-bottom: 39px;
		width: 100%;

		~ .input-wrap {
			margin-right: 30px;
		}

		~ .input-wrap:nth-child(3n + 1){
			margin-right: 0;
		}
		
		legend {
			font-size: 18px;
			margin-bottom: 0;
		}
	}
}

.simplecheckout-block {
	margin-bottom: 50px !important;

	&:last-child {
		margin-bottom: 0 !important;
	}
}

.simplecheckout-step {
	display: flex !important;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-between;
}

.simplecheckout-left-column {
	width: calc(100% - 390px) !important;
	max-width: none !important;
	min-width: auto !important;
	float: none !important;
}

.simplecheckout-right-column {
	width: 360px !important;
	max-width: none !important;
	min-width: auto !important;
	margin: -60px 0;
	padding: 50px 30px;
	float: none !important;
	background-color: $grey-f8;
}

.simplecheckout-block-content {
	.radio-wrap:not(:last-of-type) {
		margin-bottom: 20px;
	}
}

.simplecheckout-cart {
	border: 0 !important;

	&__item {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;
		margin-bottom: 35px;

		&:last-child {
			margin-bottom: 30px;
			padding-bottom: 30px;

			&:after {
				content: '';
				display: block;
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: -30px;
				width: calc(100% + 60px);
				height: 4px;
				background-color: $white;
			}
		}
	}

	&__image {
		display: flex;
		align-content: center;
		align-items: center;
		justify-content: center;
		width: 97px;
		height: 97px;
		background-color: $white;

		img {
			width: auto;
			max-width: 100%;
			height: auto;
			max-height: 100%;
		}
	}

	&__info {
		width: calc(100% - 114px); 
	}

	&__name {
		margin-bottom: 20px;
		font-size: 12px;
		font-weight: 400;
		letter-spacing: .3px;
		line-height: 14px;
	}

	&__quantity {
		.input-group {
			display: flex;
			align-items: center;
			margin-bottom: 10px;

			input {
				background-color: transparent;
			}
		}
	}

	&__total {
		padding-left: 124px;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: .6px;
		line-height: 1;
	}

	&-total {
		padding: 0 !important;
		border: 0 !important;
		font-size: 24px;
		font-weight: 700; 
		line-height: 1;
		text-align: left !important;

		&-remove {
			display: none !important;
		}
	}
	
	.remove {
		position: absolute;
		z-index: 4;
		top: 0;
		left: 0;
		transform: translate(-50%, -50%);

		button {
			display: block;
			
			&:before,
			&:after {
				background-color: $black;
			}
		}
	}

	~ .btn-transparent {
		display: table;
		margin: 50px auto 0;
	}
}

.map {
	height: 490px;
}

[type="tel"] {
	&::-webkit-input-placeholder {
		color: transparent;
	}
	
	&::-moz-placeholder {
		color: transparent;
	}
	
	&:-ms-input-placeholder {
		color: transparent;
	}
	
	&:-moz-placeholder {
		color: transparent;
	}
}

.forgot-pass {
	display: block;
	margin-top: -18px;
	padding-left: 28px;
}

.full-width {
	width: 100% !important;
}

.btn.btn-not-found {
	background-color: transparent;

	&:hover {
		color: $white;
	}
}

.simple-content .buttons {
	text-align: left !important;
}


.simplecheckout.simplecheckout .input-wrap label,
.simplecheckout-button-right {
	display: flex !important;
}

.product-search {
	.catalog-wrapper {
		border-bottom: 0;
	}
}

.simplecheckout-warning-block.simplecheckout-warning-block {
	margin-bottom: 25px;
    background: $pink-pale2;
    padding: 10px;
	border-radius: 0;
	border-color: $pink;
}

.overlay {
	display: none;
	position: fixed;
	z-index: 3;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
