<?php
/**
 * @var $product
 */
?>
<li class="product-layout2">
    <a href="<?php echo $product['href']; ?>" class="product-layout2__name" title="<?php echo $product['name']; ?>"><?php echo $product['name']; ?></a>
</li>